<%- @collections.each_with_index do |collection, collection_index| %>
	<% if collection_index < 4 %>
	<div class="collection <%=cycle('', 'last')%>">
		<div class="circle gold"><p><%= collection.zooniverse_id.split(/CMZ/)[1] %></p></div>
		<h2><%= link_to collection.name, collection_path(collection.zooniverse_id) %></h2>
		<div class="film">
		 <%- unless collection.assets.empty? %>
		    <% collection.assets.each_with_index do |asset, index| %>
					<% if index <= 5 %>
							<%= image_tag(asset.location, :height => 39) %>
					<% end %>
		    <% end %>
		  <% else %>
		    EMPTY
		  <% end %>
		</div>
	</div>
	<% end %>	
<% end -%>

