<%- @collections.each do |collection| %>
	<div class="collection <%=cycle('', 'last')%>">
		<div class="circle gold"><p><%= collection.zooniverse_id.split(/CMZ/)[1] %></p></div>
		<h2><%= link_to collection.name, collection_path(collection.zooniverse_id) %></h2>
		<div class="film">
		 <%- unless collection.assets.empty? %>
		    <% collection.assets.each do |asset| %>
						<%= image_tag(asset.location, :height => 39) %>
		    <% end %>
		  <% else %>
		    EMPTY
		  <% end %>
		</div>
	</div>
<% end -%>

