<%- @collections.each do |collection| %>
  <div class="collection">
    <div class="gold circle">
      <p><%= link_to short_id_for(collection), collection_path(collection.zooniverse_id) %></p>
    </div>
    <h2><%= link_to truncate(collection.name, :length => 30, :separator => ' '), collection_path(collection.zooniverse_id) %></h2>
    
    <%- assets = Asset.all :id.in => collection.asset_ids[0, 5] %>
    <div class="film">
      <%- assets.each do |asset| %>
        <%= link_to image_tag(asset.location, :width => 39, :height => 39), object_path(asset.zooniverse_id) %>
      <% end -%>
    </div>
  </div>
<% end -%>
