$(function() {
  if(<%= @success == true %>) {
    $('.collect-dialog').dialog('close');
    $('.collect-asset').replaceWith('<p class=".collect-asset collected-asset">Collected!</p>');
  }
  
  $('.wrapper').prepend("<%= escape_javascript(render(:partial => "shared/flash", :locals => { :flash => flash })) %>");
  
  <%- flash.clear %>
  OCT.notice.init();
});
