<div class="upper-row">
	<div class="lhc">
		<h1 class="collection-title">Edit a Collection</h1>
		<%= render :partial => "form_for_collection" %>
		<%= render :partial => "shared/collection_preview", :locals => { :assets_to_show => Asset.most_recently_commented_on } %>
	</div>
	<div class="rhc">
		<%= render :partial => "shared/zooniverse_extras" %>			
	</div>
</div>