<div class="upper-row">
  <div class="rhc">
    <%= render :partial => "shared/zooniverse_extras" %>
  </div>
  <div class="lhc">
    <h1 class="collection-title"><%= t 'collection.startnewcol' %></h1>
    <%= render :partial => "form_for_collection" %>
  </div>
</div>
