.one-third.column
  hr
    margin-bottom: 40px
  
  .active-users
    box-sizing: border-box
    
    .list
      min-height: 191px
    
    .pages
      float: right
      margin-top: 20px
    
    h2
      position: relative
      line-height: 24px
      
      .aux
        position: absolute
        top: -4px
        right: 0
        line-height: 24px
        font-size: 20px
        font-weight: 200
        letter-spacing: 1px
        color: $gray
    
    .active-user
      display: inline-block
      width: 49%
      margin-bottom: 10px
      overflow: hidden
      white-space: nowrap
      text-overflow: ellipsis
      
      .user
        text-decoration: none
        vertical-align: middle
        
        .avatar
          margin-right: 5px
          width: 25px
          height: 25px
