.app-header {
  margin-bottom: 20px;
  position: relative;

  .main {
    background: $gray-dark;
    box-sizing: border-box;
    color: #F2F2F2;
    display: table;
    font-size: 12px;
    font-weight: 500;
    line-height: 50px;
    margin: 0 auto;
    padding: 0 5%;
    text-shadow: 0 1px 2px #000;
    width: 100%;
  }

  .group {
    display: table-cell;
    text-align: center;
    vertical-align: middle;

    &:first-child {
      text-align: left;
      max-width: 33%;

      & + .group {
        text-align: left;
        padding-left: 20px;
      }
    }

    &:last-child {
      text-align: right;
    }
  }

  h1 {
    display: inline-block;
    font-size: 18px;
    font-weight: normal;
    line-height: 1;
    margin: 0;
    a {
      color: #F2F2F2
    }
    
    a:hover {
      text-decoration: none;
    }
    
    img {
      margin: -5px 5px 0 0;
      vertical-align: middle;
    }
  }

  nav {
    display: inline-block;
    vertical-align: bottom;

    > ul {
      margin: 0;
      padding: 0;

      > li {
        display: inline-block;
        list-style: none;
        position:relative;

        > a,
        > .button {
          border-bottom: 3px solid transparent;
          box-sizing: border-box;
          color: inherit;
          cursor: pointer;
          display: block;
          height: 100%;
          margin: 0 12px;

          &:hover,
          &.active {
            color: $blue;
            text-decoration: none;
          }

          &.active {
            border-bottom-color: $blue;
          }
        }

        .dropdown {
          background: $black;
          position: absolute;
          line-height: 1.4;
          top: 100%;
          white-space: nowrap;
          padding: 0 10px;
          z-index: 1;

          &.right {
            right: 0;
          }

          &.left {
            left: 0;
          }

          &.search {
            width: 200px;

            .action {
              text-align: center;

              button {
                @extends #bold-button;
              }
            }
          }
        }
      }
    }
  }

  a.return {
    @extends #bold-button;
  }

  .sign-out {
    position: absolute;
    right: 5%;
    top: 110%;

    button {
      opacity: 0.5;

      &:hover {
        opacity: 1;
      }
    }
  }

  .sign-in {
    background: linear-gradient($blue, darken($blue, 33%));
    border-bottom: 1px solid $gray-dark;
    border-top: 1px solid $black;
    color: $white;
    padding: 5px 5%;
    position: relative;
    text-align: center;
    text-shadow: 0 1px 0 $black;

    header {
      display: inline-block;
      font-weight: bold;
    }

    form {
      display: inline-block;
      margin: 0 10px;
    }

    input {
      background: $white;
      border: 1px solid $gray-dark;
      box-shadow: 0 1px rgba($white, 0.33);
      margin: 0 3px;
      padding: 3px;
    }

    button {
      @extends #bold-button;
      background: linear-gradient($gray-less-dark, darken($gray-less-dark, 33%));
    }

    a.forgot {
      color: $white;
      font-size: 10px;
      font-weight: bold;
    }

    .error {
      background: $gray-dark;
      border-radius: 15px;
      box-shadow: 0 3px 5px -3px $black;
      left: 50%;
      margin: 5px 0 0 -300px;
      padding: 3px 0;
      position: absolute;
      top: 100%;
      width: 600px;
    }
  }
}
