.app-header {
  background: $gray-dark;
  color: $gray-light;
  font-size: 12px;
  height: 50px;
  line-height: 50px;

  h1 {
    display: inline-block;
    font-size: 18px;
    font-weight: normal;
    margin: 0 30px;
    vertical-align: bottom;
  }

  nav {
    display: inline-block;
    margin: 0 30px;
    vertical-align: bottom;

    ul {
      margin: 0;
      padding: 0;

      li {
        display: inline-block;
        list-style: none;

        a {
          border-bottom: 2px solid transparent;
          box-sizing: border-box;
          color: inherit;
          display: block;
          height: 100%;
          margin: 0 5px;

          &:hover,
          &.active {
            color: $blue;
            text-decoration: none;
          }

          &.active {
            border-bottom-color: $blue;
          }
        }
      }
    }
  }
}
