.app-header {
  background: $gray-dark;
  color: $gray-light;
  display: table;
  font-size: 12px;
  line-height: 40px;
  width: 100%;

  .group {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
  }

  h1 {
    display: inline-block;
    font-size: 18px;
    font-weight: normal;
    margin: 0;
    vertical-align: bottom;
  }

  nav {
    display: inline-block;
    vertical-align: bottom;

    ul {
      margin: 0;
      padding: 0;

      li {
        display: inline-block;
        list-style: none;

        a {
          border-bottom: 3px solid transparent;
          box-sizing: border-box;
          color: inherit;
          display: block;
          height: 100%;
          margin: 0 5px;

          &:hover,
          &.active {
            color: $blue;
            text-decoration: none;
          }

          &.active {
            border-bottom-color: $blue;
          }
        }
      }
    }
  }
}
