.collection.new,
.collection.edit {
  .subjects {
    margin: 0;
    overflow: hidden;
    padding 0;

    .subject {
      box-sizing: border-box;
      float: left;
      list-style: none;
      padding: 0 10px 10px 0
      position: relative;
      width: 25%;

      img {
        max-width: 100%;
      }

      button[name="remove"] {
        background: transparent;
        border: 0;
        border-radius: 0;
        box-shadow: none;
        color: $white;
        height: 1em;
        font-size: 20px;
        font-weight: normal;
        padding: 0 0 2em; // What's going on here?
        position: absolute;
        right: 10px;
        text-shadow: 0 1px 0 $black, 0 0 1px $black, 0 0 2px $black;
        top: 0;
        width: 2em;
      }

      &.to-be-removed {
        opacity: 0.5;
      }
    }
  }
}
