li > .collection {
  .title {
    color: $gray;
  }

  ul {
    margin: 10px -5px;
    overflow: hidden;
    padding: 0;

    li {
      box-sizing: border-box;
      float: left;
      list-style: none;
      padding: 0 5px;
      width: 20%;

      img {
        border: 1px solid $white;
        box-shadow: 0 1px 1px rgba($black, 0.25);
        width: 100%;
      }
    }
  }
}