.collection-summaries, .group-summaries {
  .collection-summary, .group-summary {
    
    a {
      color: inherit;
      display: block;
      margin: 10px 0;
      position: relative;

      &:after {
        $pad = 10px;

        border-radius: $pad;
        content: "";
        position: absolute;
        left: -1 * $pad;
        top: -1 * $pad;
        bottom: -1 * $pad;
        right: -1 * $pad;
      }

      &:hover {
        text-decoration: none;

        &:after {
          // background: rgba($black, 0.1);
        }
      }

      .info {
        display: block;
        margin: 5px 0;
        overflow: hidden
        text-overflow: ellipsis;
        height: 2.5em;
      }

      .subjects {
        display: block;
        margin: 0 -5px;
        overflow: hidden;

        .subject {
          box-sizing: border-box;
          float: left;
          padding: 0 5px 3px;
          width: 20%;

          img {
            width: 100%;
          }
        }
      }
    }
  }
}
