$black = #000;
$white = #fff;

$gray-dark = hsl(0, 0, 20%);
$gray-light = hsl(0, 0, 95%);

$blue = hsl(200, 100, 60);

#inset {
  background: rgba(black, 0.1);
  border-radius: 5px;
  box-shadow: 0 1px 1px rgba(black, 0.33) inset, 0 1px 0 rgba(white, 0.67);
}
