.discussion-focus {
  &.collection {
    .page-wrapper {
      clear: both;
      text-align: center;
      padding: 10px 0;
      
      .pages {
        display: inline-block;
        margin: 0 auto;
        overflow: visible;
      }
    }
  }
  
  .subject-summary {
    padding: 0;
    width: 100%;

    img {
      width: 100%;
    }
    
    .add-to-collection {
      top: 10px;
      left: 10px;

      &.with-subject-viewer {
        left: auto
      }
    }

    h3 {
      line-height: 25px

      a {
        display: inline
      }
    } 
  }

  .focus-comments {
    .comment {
      @extends #rule-below;
      padding: 10px;
      margin: 10px 0;

      footer {
        color: $gray;
      }
    }
  }
}
