.discussion-show {
  overflow: hidden;

  .focus {
    float: left;
    width: 25%;

    img {
      max-width: 100%;
    }
  }

  .discussion-topic {
    float: left;
    width: 75%;
  }
}

.discussion-topic {
  overflow: hidden;

  .follow {
    float: right;

    button {
      @extends #standard-button;
    }
  }

  .post {
    > header {
      color: $gray;
      font-size: 10px;

      .title {
        font-size: 24px;
      }
    }
  }

  .posts {
    margin: 0;
    padding: 0;

    > li {
      list-style: none;

      .post {
        background: $gray-less-light;
        margin: 10px 0;
        padding: 10px;
      }
    }
  }

  .respond {
    textarea {
      margin 10px 0;
      width: 100%;
    }

    .action {
      text-align: right;

      button {
        @extends #standard-button;
      }
    }
  }
}
