.discussion-topic {
  overflow: hidden;

  .follow {
    float: right;

    button {
      @extends #standard-button;
    }
  }

  .post {
    > header {
      color: $gray;
      
      .title {
        font-size: 24px;
      }
    }
    
    .content {
      padding: 5px 0;
    }
    
    > footer {
      color: $gray;
      text-align: right;
    }
  }

  .posts {
    margin: 0;
    padding: 0;

    > li {
      list-style: none;

      .post {
        background: $gray-less-light;
        margin: 10px 0;
        padding: 10px;
      }
    }
  }
}
