.discussion-focus {
  &.collection {
    .subjects {
      margin: 0 -5px;
      overflow: hidden;

      .subject {
        box-sizing: border-box;
        float: left;
        max-width: 50%;
        padding: 5px;
        position: relative;
        text-align: center;

        img {
          max-width: 100%;
        }

        .title {
          font-size: 10px;
          font-weight: bold;
        }
      }
    }
  }
}

.discussion, .messages {
  overflow: hidden;

  .follow {
    float: right;

    button {
      @extends #standard-button;

      &[name="unfollow"] {
        @extends #standard-button:active;
      }
    }
  }
  
  .feature {
    button {
      @extends #standard-button;
      
      &[name="unfeature"] {
        @extends #standard-button:active;
      }
    }
  }
  
  .pages {
    a {
      cursor: pointer;
    }
  }
  
  .discussion-topic {
    .in-response-to {
      margin-left: 10px;
      
      .remove {
        cursor: pointer;
      }
    }
  }

  .post {
    border: 2px solid transparent;

    > header {
      color: #222;
      
      .title {
        font-size: 20px;
        font-weight: 300;
        padding: 3px 0px;
      }
      
      .response-to {
        margin-left: 5px;
        cursor: pointer;
        
        .avatar {
          margin-left: 5px;
        }
      }
    }
    
    &.admin     { border: 2px solid rgba(124, 1,  28, 0.5); }
    &.scientist { border: 2px solid rgba(82, 91,  70, 0.5); }
    &.moderator { border: 2px solid rgba(53, 68, 101, 0.5); }
    
    .content {
      padding: 5px 0;
    }
    
    .respond-to {
      display: none;
      float: left;
      
      .respond-link {
        cursor: pointer;
      }
    }
    
    &:hover .respond-to {
      display: block;
    }
    
    > footer {
      color: $gray;
      text-align: right;
    }
  }

  .posts {
    margin: 0;
    padding: 0;
    
    .response-post {
      margin-left: 20px;
    }
    
    .post + .response-post {
      margin-left: 40px;
    }
    
    > li {
      list-style: none;
      
      .post {
        background: #E2E2E2;
        margin: 10px 0;
        padding: 10px;

        .content {
          blockquote {
            border-left: 3px solid $gray;
            margin-left: 0;
            padding-left: 10px;
          }

          h2 {
            padding-bottom: 0;

            &:after {
              display: none;
            }
          }

          pre {
            background: $gray-less-dark;
            border-radius: 3px;
            color: $white;
            padding: 10px
          }
        }
      }
    }
  }
}
