li > .board,
li > .discussion {
  @extends #rule-below;
  display: table;
  margin-bottom: 10px;
  padding-bottom: 10px;
  position: relative;

  &.sticky:before {
    background: yellow; // TODO: Pin icon.
    content: "";
    height: 20px;
    margin: -10px 3px 0 0;
    position: absolute;
    right: 100%;
    top: 50%;
    width: 16px;
  }

  .info {
    display: table-cell;
    padding-left: 15px;
    width: 100%;

    .title {
      font-weight: bold;

      a {
        color: inherit;
      }
    }

    .metadata,
    .description {
      color: $gray
    }
  }

  .stats {
    display: table-cell;
    text-align: right;
    white-space: nowrap;
    width: 1%;

    .last {
      color: $gray
    }
  }
}

li:last-child > .board,
li:last-child > .discussion {
  margin-bottom: 0;
  padding-bottom: 0;

  &:after {
    display: none;
  }
}

li > .new-board {
  margin-left: 15px;

  button {
    @extends #standard-button;
  }
}
