.board-summaries,
.discussion-summaries {
  .new-discussion {
    overflow: hidden;

    button {
      @extends #standard-button;
      float: right;
    }
  }
}

.board-summary,
.discussion-summary {
  @extends #rule-below;
  box-sizing: border-box;
  display: table;
  margin: 10px 0;
  padding: 0 0 10px 20px;
  position: realtive;
  width: 100%;

  &:last-child:after {
    display: none;
  }

  .pinned {
    position: relative;
    top: 11px;
    right: 8px;
    width: 10px;
    height: 20px;
    background: url('images/pin.png') no-repeat scroll 0 0 transparent;
  }

  .info {
    display: table-cell;
    width: 100%;

    .title {
      a {
        color: inherit;
        font-weight: bold;
      }
    }
  }

  .stats {
    display: table-cell;
    text-align: right;
    white-space: nowrap
    width: 1%;

    .counts {
      .users,
      .posts,
      .discussions {
        font-weight: bold;
      }
    }
  }

  .follow {
    display: table-cell;
    padding-left: 10px;
    width: 1%;
    vertical-align: middle;

    button {
      @extends #standard-button;
    }
  }
}
