.discussion-focus {
  .subject-summary {
    padding: 0;
    width: 100%;

    img {
      width: 100%;
    }
    
    .add-to-collection {
      top: 10px;
      left: 10px;
    }
  }

  .focus-comments {
    .comment {
      @extends #rule-below;
      padding: 10px;
      margin: 10px 0;

      footer {
        color: $gray;
      }
    }
  }
}
