.featured {
  margin-top: -20px;
  
  .category {
    display: none;
  }
  
  .discussion-summary {
    display: block;
    margin: 0;
    padding: 10px 0;
    
    .info {
      display: block;
      
      .board-info {
        color: $gray;
      }
    }
    
    .stats {
      display: block;
      text-align: left;
      margin-top: 10px;
      
      .last {
        display: none;
      }
    }
  }
}
