form {
  margin: 0;

  &.boxed {
    background: $gray-less-light;
    border: 1px solid $gray;
    overflow: hidden;
    padding: 0 10px;
  }

  .field,
  .action {
    margin: 10px 0;

    input,
    textarea {
      background: $white;
      border: 1px solid $gray;
      box-shadow: 0 1px 0 $white;
      font: inherit;
      padding: 5px;
      width: 100%;
    }
  }

  .action {
    text-align: right;
  }

  button {
    @extends #standard-button;
  }
}
