form {
  margin: 0;

  &.boxed {
    background: $gray-less-light;
    border: 1px solid $gray;
    overflow: hidden;
    padding: 0 10px;
  }

  .field,
  .action {
    margin: 10px 0;

    input,
    textarea {
      box-sizing: border-box;
      width: 100%;
    }
  }

  .action {
    text-align: right;
  }

  button {
    @extends #standard-button;
  }

  .confirm-action {
    color: red;
    font-weight: 700;
    text-align: right;
  }
}
