.hashtags {
  padding: 0;
  overflow: hidden;

  li {
    box-sizing: border-box;
    float: left;
    list-style: none;
    overflow: hidden;
    padding-right: 10px;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 33%;

    a {
      color: inherit;
    }
  }
}
