@import "../node_modules/nib";

// Base
@import "common";
@import "layout";
@import "form";
@import "buttons";

// Objects
@import "app_header";
@import "preview_list";
@import "subject_summary";
@import "discussion_item";
@import "collection_summary";
@import "user_inline";
@import "hashtags";
@import "comment";
@import "discussion";
@import "new_board";
@import "new_board_discussion";
@import "subject_as_focus";
@import "collection_new_edit";
@import "load_more";

// Pages
@import "trending_index";
@import "subject_page";

.stack > *
  display: none

  &.active
    display: block
