@import "../node_modules/nib";

// Base
@import "common";
@import "layout";
@import "form";

// Objects
@import "app_header";
@import "preview_list";
@import "subject_item";
@import "discussion_item";
@import "collection_item";
@import "user_inline";
@import "hashtags";
@import "comment";
@import "discussion";
@import "new_board";
@import "new_board_discussion";

// Pages
@import "subject_page";

.stack > *
  display: none

  &.active
    display: block
