html {
  background: $gray-light;
  color: $gray-dark;
  font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
}

body {
  margin: 0;
}

hr {
  border: 0;
  border-top: 1px solid rgba($black, 0.33);
  border-bottom: 1px solid rgba($white, 0.67);
  margin: 20px 0;
}

button {
  background: transparent;
  border: 0;
  color: inherit;
  cursor: pointer;
  font: inherit;
  margin: 0;
  padding: 0;
}

a {
  color: $blue;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

#app {
  > .stack {
    margin: 0 auto;
    width: 90%;
  }
}
