html {
  background: $gray-light;
  color: $gray-dark;
  font-family: "Helvetica Neue",  sans-serif;
}

body {
  margin: 0;
}

hr {
  border: 0;
  border-top: 1px solid rgba($black, 0.33);
  border-bottom: 1px solid rgba($white, 0.67);
  margin: 20px 0;
}

a {
  color: $blue;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

#app {
  overflow: hidden;
}

#sidebar {
  float: left;
  overflow: hidden;
  position: relative;
  width: 20%;

  > .pages {
    float: right;
    position: relative;
    right: 0;
    top: 0;
    width: 80%;
  }
}

#main {
  float: left;
  width: 80%;

  > .pages {
    position: relative;
    width: 95%;

    > .page {
      margin-bottom: 100px; // Temporary
      padding: 20px;

      > section {
        border-bottom: 1px solid $light-background;
        box-shadow: 0 1px 0 $dark-background;

        > header {
          background: $blue;
          color: $white;
          font-size: 16px;
          font-weight: bold;
          margin-left: -20px;
          padding: 0 20px;
          width: 100%;

          .aux {
            float: right;
          }
        }
      }
    }
  }
}
