.load-more {
  font-size: 11px;
  font-weight: bold;
  text-align: right;

  button[name="load-more"] {
    color: $gray;
    padding-right: 20px;
    position: relative;

    &:after {
      background: $gray;
      border-radius: 50%;
      color: $white;
      content: "+";
      font-size: 12px;
      height: 15px;
      margin: -7px 0 0 3px;
      line-height: 12px
      position: absolute;
      right: 0;
      top: 50%;
      width: 15px;
    }
  }
}
