.messages.stack {
  overflow: visible;
}

.message-list {
  font-size: 11px;

  .aux .compose {
    @extends #standard-button;
    text-decoration: none;
    display: inline-block;
    position: relative;
    top: -12px;
  }

  .message {
    @extends #rule-below;
    margin-bottom: 10px;
    padding-bottom: 10px;
    position: relative;

    &.unread:before {
      background: $blue;
      border-radius: 50%;
      content: "";
      height: 5px;
      margin: 5px 5px 0 0;
      position: absolute;
      right: 100%;
      top: 0;
      width: 5px;
    }

    .title {
      a {
        color: inherit;
        font-weight: bold;
      }
    }

    .body {
      color: $gray;
    }

    footer {
      color: $gray;
      img.avatar {
        display: none;
      }
    }
  }
}
