html.signed-in
  .discussion, .focus-comments
    .post, .comment
      .comment-moderation
        float: right
        display: none
      
        a
          cursor: pointer
    
      &:hover
        .comment-moderation
          display: block
