html.signed-in
  .discussion, .focus-comments
    .post, .comment
      .comment-moderation
        float: right
        display: none
      
        a
          cursor: pointer
    
      &:hover
        .comment-moderation
          display: block

.focus-comments
  div.edit-comment
    background-color: #DDDDDD
    color: #444444
    border: 1px dashed rgba($blue, 0.5)
    margin: 10px 0
    padding: 1px 10px
    
    header
      font-weight: bold
      margin: 10px 0 -5px
    
    .action .characters
      float: left