.new-board {
  margin: 0;

  label {
    display: block;
  }

  input {
    width: 100%;
  }

  textarea {
    width: 100%;
  }

  .action {
    margin: 10px 0;
    text-align: right;

    button {
      @extends #standard-button;
    }
  }
}
