.new-discussion {
  overflow: hidden;

  .focus {
    float: left;
    width: 25%;

    img {
      max-width: 100%;
    }
  }

  .discussion {
    box-sizing: border-box;
    float: left;
    padding-left: 30px;
    width: 75%;
  }
}
