.object.page {
  overflow: hidden;

  .object {
    float: left;
    width: 50%;

    .view {
      background: gray;
    }

    .comments {
      .create {
        textarea {
          width: 100%;
        }
      }
    }
  }

  .discussions {
    float: right;
    width: 50%;
  }
}
