ul.previews {
  margin: 10px 0;
  padding: 0;

  > li {
    list-style: none;
  }

  &.inline {
    overflow: hidden;

    > li {
      float: left;
    }
  }

  .new-discussion {
    overflow: hidden;

    button {
      @extends #standard-button;
      float: right;
    }
  }
}
