.preview-list {
  margin: 20px 0;

  > ul {
    margin: 0;
    padding: 0;

    > li {
      list-style: none;

      > .board,
      > .discussion {
        display: table;
        margin: 10px 0;

        .info {
          display: table-cell;
          width: 100%;

          header {
            font-weight: bold;
          }

          .metadata,
          .description {
            color: $gray-text;
          }
        }

        .stats {
          display: table-cell;
          white-space: nowrap;
          width: 1%;
        }

        .follow {
          display: table-cell;
          vertical-align: middle;
          white-space: nowrap;
          width: 1%;
        }
      }
    }
  }
}
