/**
* CSS themes for simplePagination.js
* Author: Flavius Matis - http://flaviusmatis.github.com/
* URL: https://github.com/flaviusmatis/simplePagination.js
*/

.compact-theme {
  display: block;
  overflow: hidden;
}

.compact-theme span {
  float: left;
}

.compact-theme a {
  cursor: pointer;
}

.compact-theme a, .compact-theme span {
  font-size: 10px;
  font-weight: normal;
  line-height: 14px;
  border: 1px solid #AAA;
  border-right: none;
  float: left;
  padding: 0 5px;
  color: #333;
  text-align: center;
  background: linear-gradient(top, #ffffff 0%, #efefef 100%);
}

.compact-theme a:hover {
  text-decoration: none;
  background: #efefef;
  background: linear-gradient(top, #efefef 0%, #bbbbbb 100%);
}

.compact-theme .prev {
  border-radius: 3px 0 0 3px;
}

.compact-theme .next {
  border-right: 1px solid #AAA;
  border-radius: 0 3px 3px 0;
}

.compact-theme .current {
  background: linear-gradient(top, #bbbbbb 0%, #efefef 100%);
}

.compact-theme .ellipse {
  background: #EAEAEA;
  padding: 0 10px;
}


.light-theme {
  display: block;
  overflow: hidden;
  padding: 0 5px 5px 0;
}

.light-theme a {
  cursor: pointer;
}

.light-theme span {
  float: left;
  box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
}

.light-theme a, .light-theme span {
  font-size:14px;
  font-weight: normal;
  line-height:24px;
  border: 1px solid #BBB;
  border-radius: 3px;
  float: left;
  padding: 0 7px;
  margin: 0 5px 0 0;
  min-width: 14px;
  color: #666;
  text-align: center;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  background: linear-gradient(top, #ffffff 0%, #efefef 100%);
}

.light-theme a:hover {
  text-decoration: none;
  background: #FCFCFC;
}

.light-theme .current {
  background: #666;
  color: #FFF;
  border-color: #444;
  box-shadow: 0 1px 0 rgba(255,255,255,1), 0 0 2px rgba(0, 0, 0, 0.3) inset;
}

.light-theme .ellipse {
  background: none;
  border: none;
  border-radius: 0;
  box-shadow: none;
  font-weight: bold;
}
