.focus.page {
  overflow: hidden;
  
  header .buttons {
    .follow-link, .share-link {
      display: inline;
    }
  }
  
  .subjects {
    @extends #rule-below;
    margin-bottom: 30px;

    ul {
      margin: 0;
      overflow: hidden;
      padding: 20px 0 20px 20px;

      li {
        box-sizing: border-box;
        float: left;
        list-style: none;
        margin-bottom: 20px;
        padding-right: 20px;
        width: 20%;

        a {
          color: $white;
          display: block;
          position: relative;

          img {
            border: 2px solid $white;
            box-sizing: border-box;
            box-shadow: 0 1px 1px rgba($black, 0.25);
            max-width: 100%;
          }

          .label {
            background: $black;
            border-radius: 3px 0 0 3px;
            bottom: 5px;
            font-size: 10px;
            padding: 1px 3px;
            position: absolute;
            right: -1px;
          }
        }
      }
    }
  }

  .focus {
    float: left;
    width: 33%;

    .main {
      max-width: 100%;
    }

    .add-to-collection {
      margin: 10px 0;
      position: relative;

      .collect-this {
        @extends #standard-button;
      }

      .collection-list {
        background: $white;
        border-radius: 5px;
        box-shadow: 0 3px 5px -3px $black;
        left: 0;
        position: absolute;
        top: 100%;
        z-index: 5;

        ul {
          margin: 0;
          padding: 0;

          li {
            @extends #rule-below;
            cursor: pointer;
            list-style: none;
            padding: 3px 10px;

            &:last-child:after {
              display: none;
            }

            &:hover {
              background: $blue;
              color: $white;
            }

            a {
              color: inherit;

              &:hover {
                text-decoration: none;
              }
            }
          }
        }
      }
    }

    .create-comment {
      background: $blue;
      color: $white;
      margin: 10px 0;
      padding: 1px 10px;

      header {
        font-weight: bold;
        margin: 10px 0;
      }
    }

    .comments {
      margin: 0;
      padding: 0;

      li {
        list-style: none;

        .comment {
          @extends #rule-below;
          padding: 10px;
        }
      }
    }
  }

  .description {
    box-sizing: border-box;
    float: left;
    margin-bottom: 30px;
    padding-left: 30px;
    width: 33%;
  }

  .collections {
    box-sizing: border-box;
    float: left;
    margin-bottom: 30px;
    padding-left: 30px;
    width: 33%;

    > header {
      @extends #block-header;
    }

    ul {
      margin: 0;
      padding: 0;

      li {
        display: inline-block;
        list-style: none;

        a {
          color: inherit;

          .label {
            font-weight: bold;
          }

          .images {
            display: block;
            margin: 10px 0;
            padding: 0 20px;
            
            img {
              width: 20%;
            }
          }
        }
      }
    }
  }

  .hashtags {
    box-sizing: border-box;
    float: left;
    margin-bottom: 30px;
    padding-left: 30px;
    width: 33%;

    ul {
      margin: 0;
      overflow: hidden;
      padding: 0;

      li {
        display: inline-block;
        float: left;
        width: 33%;
      }
    }
  }

  .discussions {
    box-sizing: border-box;
    float: right;
    margin-bottom: 30px;
    padding-left: 30px;
    width: 67%;
  }
}
