.subject-summaries {
  clearfix()
  margin: 0 -20px;
}

.subject-summary {
  @extends #rule-left;
  box-sizing: border-box;
  float: left;
  font-size: 11px;
  line-height: 14px;
  list-style: none;
  margin: 0 0 20px 0;
  padding: 0 20px;
  position: relative;
  width: 25%;
  
  .add-to-collection {
    top: 5px;
    left: 25px;

    &.with-subject-viewer {
      position: absolute
      top: 5px
      display: inline-block
      left: auto
      right: 0px

      .collect-this {
        opacity: 1;
      }
      .collection-list {
        left: auto
        right: 0
      }
    }
    
    .collect-this {
      vendor('transition-property', opacity);
      vendor('transition-duration', 300ms);
      opacity: 0;
    }
    
    .collection-list {
      opacity: 0;
    }
  }
  
  &:hover .add-to-collection {
    &.with-subject-viewer {
      .collect-this {
        opacity: 1
      }
    }
    .collect-this {
      opacity: 0.6;
    }
    
    .collection-list {
      opacity: 1.0;
    }
  }

  &:first-child:before {
    display: none;
  }

  > .preview {
    a {
      display: block;

      img {
        width: 100%;
      }
    }
  }

  > .summary {
    .title {
      display: none;
    }
  }

  .metadata {
    @extends #rule-below;
    display: table;
    font-size: 10px;
    font-weight: 500;
    line-height: 16px;
    margin: 5px 0;
    padding-bottom: 5px;
    text-align: left;
    width: 100%;

    .count {
      font-weight: bold;
    }
  }

  .last-comment {
    .author {
      color: $gray;
      margin-top: 10px;
    }
    
    .content {
      overflow: hidden
      text-overflow: ellipsis;
      height: 2.5em;
    }
  }
}
