.subject.page {
  overflow: hidden;

  .subject {
    float: left;
    width: 33%;

    .subject-view {
      img {
        width: 100%;
      }
    }

    .create-comment {
      background: $blue;
      color: $white;
      margin: 10px 0;
      padding: 10px;

      form {
        margin: 0;
      }

      textarea {
        width: 100%;
      }

      .action {
        margin-top: 10px;
        text-align: right;

        button {
          @extends #standard-button;
        }
      }
    }

    .comments {
      ul {
        margin: 0;
        padding: 0;

        li {
          list-style: none;

          .comment {
            @extends #rule-below;
            padding: 10px;
          }
        }
      }
    }
  }

  .collections {
    box-sizing: border-box;
    float: left;
    margin-bottom: 30px;
    padding-left: 30px;
    width: 33%;

    > header {
      @extends #block-header;
    }

    ul {
      margin: 0;
      padding: 0;

      li {
        display: inline-block;
        list-style: none;
      }
    }
  }

  .hashtags {
    box-sizing: border-box;
    float: left;
    margin-bottom: 30px;
    padding-left: 30px;
    width: 33%;

    > header {
      @extends #block-header;
    }

    ul {
      margin: 0;
      overflow: hidden;
      padding: 0;

      li {
        display: inline-block;
        float: left;
        width: 33%;
      }
    }
  }

  .discussions {
    box-sizing: border-box;
    float: left;
    margin-bottom: 30px;
    padding-left: 30px;
    width: 67%;

    > header {
      @extends #block-header;
    }

    ul {
      margin: 0;
      padding: 0;

      li {
        list-style: none;
      }
    }

    .new-discussion {
      overflow: hidden;

      button {
        float: right;
      }
    }
  }
}
