.trending.page {
  .column > section + hr {
    margin-bottom: 40px;
  }

  .collection-summaries .collection-summary {
    box-sizing: border-box;
    float: left;
    padding-right: 10%;
    width: 50%;

    a .subjects .subject {
      padding: 0 5px 3px;
    }
  }
}
