a.user {
  color: inherit;

  .avatar {
    margin-right: 5px;
    vertical-align: middle;
  }

  .role {
    font-size: 75%;
    font-weight: bold;
    text-transform: uppercase;

    &.admin   {color: red;}
    &.science {color: green;}
    &.mod     {color: blue;}
  }
}
