a.user {
  .avatar {
    width: 20px
    height: 20px
    vertical-align: middle;
  }

  .role {
    font-size: 75%;
    font-weight: bold;
    text-transform: uppercase;

    &.admin     { color: #7C011C; }
    &.scientist { color: #525B46; }
    &.moderator { color: #354465; }
  }
}
