.user {
  line-height: 30px
  display: inline
  
  a.user {
    color: inherit;
    line-height: 30px
    
    .avatar {
      width: 20px
      height: 20px
      vertical-align: text-bottom
    }

    .role {
      font-size: 75%;
      font-weight: bold;
      text-transform: uppercase;

      &.admin   {color: red;}
      &.science {color: green;}
      &.mod     {color: blue;}
    }
  }
}
