.radio-subject-viewer
  
  .image-stack
    margin: 0 0 8px 0
    position: relative

  img
    position: absolute
    width: 100%

    &.main
      opacity: 0.5

  input
    border-radius 3px
    box-sizing: border-box
    height 3px
    margin: 6px 0
    outline: none
    padding: 1px
    width: 100%

  svg
    fill-opacity: 0
    position: absolute
    stroke: #ccc
    width: 100%
    z-index: 1

    g.contours
      transition: opacity 200ms linear
      
      path
        stroke-width: 1.35px
        opacity: 1

  .radio-metadata         
    margin-top: 10px

    ul
      line-height: 0  
      margin: 0
      font-size: 0
      letter-spacing: -1
      padding: 0
      list-style-type: none
      width: 100%
      height: 30px

      li
        box-sizing: border-box
        font-size: 10px
        display: inline-block

      &.metadata-coords
        li
          width: 20%
          text-align: right

          &:first-child
            width: 60%
            text-align: left

      &.ext-links
        li
          width: 25%
          text-align: center
          
          &:first-child
            text-align: left

          &:last-child
            text-align: right
