.radio-subject-viewer
  
  .image-stack
    margin: 0 0 8px 0
    position: relative

  img
    position: absolute
    width: 100%

    &.radio
      opacity: 0

  input
    border-radius 3px
    box-sizing: border-box
    height 3px
    margin: 6px 0
    outline: none
    padding: 1px
    width: 100%

  svg
    fill-opacity: 0
    position: absolute
    stroke: #ccc
    width: 100%
    z-index: 1

    g.contours
      transition: opacity 200ms linear
      
      path
        stroke-width: 1.35px
        opacity: 1
          