.radio-subject-viewer
  
  .image-stack
    height: 366px
    position: relative

  img
    position: absolute
    width: 100%

    &.radio
      opacity: 0

  input
    border-radius 3px
    box-sizing: border-box
    height 3px
    margin: 6px 0
    outline: none
    padding: 1px
    width: 100%
