<!-- Message preview for inbox/sent etc  -->
<div class="message-preview">
	<div class="message-preview-container">
		<div class="subject"><%= link_to message_preview.title, :action => :show, :id => message_preview.id %></div>
		<div class="date"><%= long_date(message_preview.created_at) %></div>
		<div class="preview"><%= message_preview.body %></div>
	</div>
</div>