<div id="meta-for-messages" class="panel">
  <h2>Information</h2>
  <div>
    <ul>
      <li class="item"><%= @unread.length %> <%= t 'messages.new' %></li>
      <li class="item"><%= @conversations.length %> <%= t 'messages.conversations' %></li>
    </ul>
  </div>
</div>
