<!-- Displays info about the discussions for a board -->
<div id="meta-for-messages" class="panel tags right">
  <ul>
    <li><%= @unread.length %> new messages</li>
    <li><%= @conversations.length %> conversations</li>
  </ul>
</div>