<!-- Show an individual message  -->
<div class="message">
	<div class="message-container">
		<div class="subject"><%= @message.title %></div>
		<div class="date"><%= long_date(@message.created_at) %></div>
		<div class="body"><%= @message.body %></div>
	</div>
</div>