<div id="trending-discussions" class="panel">
  <%- @discussions.each do |discussion| %>
    <div class="item">
      <div class="item-container">
        <div class="name">
          <%= link_to truncate(discussion.subject, :length => 45, :separator => ' '), discussion.path %>
        </div>
        <div class="stats">
          <div class="users-total"><%= pluralize(discussion.number_of_users, "user") %></div>
          <div class="comment-total"><%= pluralize(discussion.number_of_comments, "comment") %></div>
        </div>
        <div class="date"><%= long_date(discussion.updated_at) %></div>
        <div class="push"></div>
      </div>
    </div>
  <% end -%>
</div>
