<%- unless @mentions.empty? %>
  <div class="mentions collection-list">
    <h2>Mentions</h2>
    <div>
      <ul>
        <%- @mentions.each do |discussion| %>
          <li class="item"><%= link_to discussion.subject, discussion.path %></li>
        <% end -%>
      </ul>
    </div>
  </div>
<% end -%>
