<div class="comment-preview">
  <%= image_tag('default_user.png', :class => "user", :height => 40) %>
  <div class="comment-container highlight_keywords">
    <div class="comment-body">
      <div class="date">Posted <%= time_ago_in_words(comment.created_at) %> ago</div>
      <%= raw markdown(comment.body) %>
    </div>
  </div>
</div>
