<div id="recent-comments" class="panel">
  <%- @comments.each do |comment| %>
    <%- discussion = Discussion.find_by_id(comment.discussion_id) %>
    <div class="item highlight_keywords">
      <%= image_tag('interface/default_user.png', :class => "user", :size => "40x40") %>
      <div class="comment_container">
        <div class="name">
          <%= link_to truncate(discussion.subject, :length => 25, :separator => ' '), discussion_url_for(discussion) %>
        </div>
        <div class="body" style="overflow: hidden;">
          <%= raw markdown(truncate(comment.body, :length => 300, :separator => ' ')).gsub(/<\/?[^>]*>/,"") %>
        </div>
        <div class="date"><%= time_ago_in_words(comment.created_at) %> ago</div>
      </div>
      <div class="push"></div>
    </div>
  <% end -%>
</div>
