<div class="panel">
  <%- objects.each do |object| %>
    <div class="recent-asset">
      <%= link_to image_tag(object.thumbnail_location, :class => "recent-comment-user", :height => 40), :controller => :assets, :action => :show, :id => object.zooniverse_id %>
      <div class="asset-container">
        <div class="name"><%= link_to object.zooniverse_id, :controller => :assets, :action => :show, :id => object.zooniverse_id %></div>
        <div class="comment-total"><%= pluralize(object.count_mentions, "mention") %></div>
				<div class="views-total"><%= pluralize(object.count_collections, "collection") %></div>
        <div class="push"></div>
      </div>
    </div>
  <% end -%>
</div>
