$('#keyword_set_results').html("<%= escape_javascript(render(:partial => "assets", :locals => { :assets => @assets })) %>");
$('#keyword_set_results').append('<span class="result-count"><%= pluralize(@assets.total_entries, "result") %></span>');