.subjects .list
  .subject-summary
    .last-comment .author
      overflow: hidden
      white-space: nowrap

.add-to-collection > .explore-this
  @extends #standard-button
  background: white
  cursor: pointer
  opacity: 0.6
  transition: all 0.3s ease-in-out

  &:hover
    opacity: 1