<!-- Displays moderation log -->
<div id="moderation-log" class="panel">
 <h2>Moderation Log</h2>
 <ul>
	<%- if @actioned.empty? -%>
	<li>There are no events</li>
	<%- else -%>
		<%- @actioned.each do |event| -%>
			<li class="<%= event.target.class.to_s %>"><%= event.target.class.to_s %>: actioned <%= time_ago_in_words(event.updated_at) %> ago</li>
		<%- end -%>
	<%- end -%>
 </ul>
</div>