<!-- Displays  a moderator's watch list -->
<div id="moderation-log" class="panel">
 <h2>Watch List</h2>
  <ul>
	<%- if @watch_list.empty? -%>
	<li>There are no watched users</li>
	<%- else -%>
		<%- @watch_list.each do |user| -%>
			<li><%= link_to user.name, user_path(user) %></li>
		<%- end -%>
	<%- end -%>
  </ul>
</div>