.planet-four-subject-viewer
  
  .subject-metadata
    text-align: right

    label
      float: left
      font-weight: 700

    .metadatum
      box-sizing: border-box
      clearfix()
      padding: 3px 10px

      &:nth-child(2n)
        background: #fafafa
