@import _base
@import _layout
@import _page_nav
@import _flashes

@import _header
@import _footer

@import _home
@import _admin
@import _boards

@import _focii
@import _collections
@import _objects

@import _comments
@import _discussions

@import _users
@import _messages

body
  background: $background
  margin: 0
  font-family: $default_font
  line-height: 1.3em
  font-size: 0.8em
  background-position: 0 28px

h1, h2, h3, h4
  margin: 10px 0 5px 0
  font-family: $default_heading_font
  font-weight: normal

h1
  font-size: 1.8em
  margin: 20px 0 15px 0

h2
  font-size: 1.4em
  margin: 20px 0 15px 0

h3
  font-size: 1.2em
  margin: 15px 0 10px 0

h4
  font-size: 1.1em

ol
  list-style-type: decimal
  margin-bottom: 20px
  li
    margin-bottom: 3px
    margin-left: 40px

p
  margin: 0 0 10px 0

a
  &:link, &:visited
    color: $link_color
    text-decoration: none
  &:hover
    color: $link_hover_color

a.button
  background: transparent url(/images/interface/button_bg_right.png) no-repeat scroll 100% 0%
  color: #666666
  display: block
  font: normal normal bold 12px / normal arial, sans-serif
  height: 20px
  margin-right: 6px
  margin-top: 3px
  padding-right: 15px
  text-decoration: none
  cursor: pointer
  span
    background: transparent url(/images/interface/button_bg_left.png) no-repeat
    display: block
    line-height: 14px
    padding: 3px 0px 3px 15px
  &.pressed
    background-position: 100% 100%
    color: #000000
    span
      background-position: 0% 100%
      padding: 4px 0px 2px 15px

// Markdown styles
.comment .body, .message .body
  blockquote
    padding: 5px
    border: 1px solid #AFAFAF
    background-color: #EEEEEE
  ul, ol
    margin: 5px 5px 5px 20px
    padding: 0
  ul li
    list-style: disc
    margin-left: 20px
  ol li
    list-style: decimal
    margin-left: 20px
  blockquote p
    margin: 0


.search-kinds
  margin-left: 40px
  font-size: 14px
  li
    padding-left: 20px

.more-results
  text-align: center

#not-logged-in
  width: 99%
  text-align: center
