.content{
  padding:39px;
}

.wrapper {
  font-family: verdana, sans-serif;
	font-size: 80%;
}

/* Headings */
.ct h1 {
  margin: 0 0 10px 0;
}

.ct h2 {
	margin: 0 0 5px 0;
}

/* Layout */
.lower-row {
	padding-top: 20px;
}

.lower-row .lhc {
  float: left;
}

.lhc {
  width: 600px;
}
.rhc {
	float: right;
  width:236px;
  padding-top: 35px;
}

.rhc h2, .profile h2 {
  background: #fff;
  color: #24231D;
  font-family: 'Gill Sans','Gill Sans MT', sans-serif;
  font-size: 1em;
  margin-bottom: 0px;
  padding: 12px 14px 8px 15px;
  text-transform: uppercase;
}

.rhc h2 {
  color: #999;  
  font-size: 1.3em;  
}

.rhc .new {
  position: relative;
  height:25px;
  margin-top: 10px;
  margin-bottom: 20px;
}

.rhc .new a.button {
  margin: 0 auto;
  width: 109px;
}

.pagination {
  display: block;
  clear: both;
  padding-top: 20px;
}
.push {height:1px;clear:both;}
.last {border-bottom: none !important;}
.loading {display:none;font-size:80%;margin-left:10px;color:#afafaf;}
.left {float:left;}
.right {float:right;}

/* Flash notice*/
.notice {
  background: #A7DE9F;
  height:25px;  
  top: -25px;
  border-bottom: solid 2px #008000;
  left: 0;
  padding: 5px 10px 0px;
  position: absolute;
  width: 925px;
  z-index:999;
  cursor:pointer;
}
.notice p {
  font-size: 1.4em;
  padding: 2px 10px;
  text-align: right;  
}

/* Object */
h1.asset-name {margin-bottom: 20px;}
.asset-actions {height: 30px;}
.asset-actions li {
  float: left;
  margin-right: 10px;
}
.asset-meta {/* display:none; */}

.collect-asset {
  cursor: pointer;
  color: #990000;
  text-decoration: none;
}

/* Collection */
.collection-thumbnail {cursor: pointer;}
h1.collection-title {font-size: 2.0em;line-height:1.0em;width:590px;}
.lhc .collection-viewer {
  margin-top: 14px;
}

.collection-description{
  color: #A9A9A9;
  width: 50%;
}

/* Boards */
.boards h1 {
	font-size: 2.5em;
	text-transform: uppercase;
}
#meta-for-discussions {
	font-family: georgia;
	font-size: 1.6em;
	font-style: italic;
	color: #afafaf;
	margin-bottom: 20px;
}

/* Discussion */
.discussion {}
.discussion-title {font-size:1.8em;margin-bottom:15px;}
.discussion-items img {margin-bottom: 5px;}
.question .subtext {font-size: 85%;}
.discussion .question {
  padding: 20px 40px;
  overflow: hidden;
  background: #d5eff7;	
  left: -40px;
  position: relative;
  border-right: solid 8px #C2D9E2;
}

.discussion .rhc {padding:0 0 0 10px;width:226px;}

/* Item */
.item {
  border-bottom: dotted #afafaf 1px;
  background: #F6F6F6;
  padding: 20px 20px 20px 20px;
}
.item:hover {background: #fff;}
.item .name {
  margin: 5px 0 4px;
  font-weight: normal;
}
.item .date {color: #999;}
.item-container .date {
	color: #888;
	margin-bottom: 3px;
/*  font-size: 80%;*/
}
.item-container .body {
  margin-left: 51px;
  overflow: hidden;
}

.item-container .info {
  display: block;
  height: 15px;
}

/* Item info */
.comment-total {background: url(/images/icons/comment.gif) no-repeat left;}
.views-total {background: url(/images/icons/views.png) no-repeat left;}
.views-total, .comment-total {
	padding-left: 16px;
	color: #000;
	font-size: 85%;
	margin-right: 10px;
	float: left;
}


/* Item Lists */
.rhc .item {
  padding: 10px 10px 10px 15px;
  margin-bottom: 1px;  
}

.lhc .item-list {
  position:relative;
  left:-40px;
  padding: 20px 20px 20px 40px;  
}

/* Moderation */
.moderator-actions {float: right;}
.moderator-actions ul li {
  display: inline;
  margin: 0;
  float: left;
  padding-right: 10px;
}

/* Tag Cloud */
#keyword-cloud {
  padding: 2px;
  line-height: 3em;
  text-align: center;
  margin: 0;
  height: 300px;
}
#keyword-cloud a {padding: 0px;}
#keyword-cloud li {display: inline;}
#keyword-cloud li.level1 { font-size: 0.7em; font-weight: 100; }
#keyword-cloud li.level2 { font-size: 0.8em; font-weight: 200; }
#keyword-cloud li.level3 { font-size: 0.9em; font-weight: 300; }
#keyword-cloud li.level4 { font-size: 1.0em; font-weight: 400; }
#keyword-cloud li.level5 { font-size: 1.2em; font-weight: 500; }
#keyword-cloud li.level6 { font-size: 1.4em; font-weight: 600; }
#keyword-cloud li.level7 { font-size: 1.6em; font-weight: 700; }
#keyword-cloud li.level8 { font-size: 1.8em; font-weight: 800; }
#keyword-cloud li.level9 { font-size: 2.2em; font-weight: 900; }

/* Messages */
.messages .rhc {padding-top:0px;}
.messages .low_link {top: 30px;position:relative;}
.message {background: #fff; padding:15px; margin-right: 20px;margin-bottom:5px;}
.message img {float:left;}
.message .inner {margin-left: 62px;}
.message .date {float:right;color:#999;}
.message .subject {font-size:1.3em;}
.message .preview {margin-top:5px;}

.message-reply-form{ padding:15px;}
.message-reply-form img{ float: left;}
.message-reply-form .inner{ margin-left: 62px;}

/* Collection */
#asset-as-focus img {
	border: solid #000 1px;
}

.collection-info {
  width:300px;
  float:right;
  overflow:hidden;
  position:relative;
}

.collection-info .collection {
  padding: 0 5px 8px 5px;
  font-size: 0.7em;
}

.collection-info .collection h2 {
  margin: 0;
  text-transform:uppercase;
  font-family: 'Gill Sans', 'Gill Sans MT', verdana, sans-serif;
}

.collection-info .collection .film img {
  margin: 0;
}

.collection-info .container {
  width: 1500px;
  position:relative;
}

.collection-info .col {
  width:300px;
}

.collection-info .nav {
  height: 15px;
  margin: 0;
  margin-left: 5px;
  clear:both;
  position: relative;
  top:5px;
}

.collection-info .nav a {
  background: #dfdfdf;
  height: 6px;
  width: 6px;
  float: left;
  margin-right: 5px;
  -moz-border-radius: 3px;    
  -webkit-border-radius: 3px;  
  border-radius: 3px;
}

.collection-info .nav .current{
  background: #999;
}

/* Profile */
.profile-detail .info h1 {margin-bottom: 0;}
.profile-detail img {float: left;} 
.profile-detail .info {margin-left: 50px;}
.profile-detail {margin-bottom:20px;}

.profile .popular-discussions{float:left;width: 47%;margin-right: 20px;}
.profile .popular-discussions .item .stats {height: 20px;}
.profile .user-comments{float:left;width:49%;}
.profile .item {padding: 10px 20px 10px 20px;}
.profile .rhc{padding-top:0;}

/* My collections on profile page */
.profile .my-collections {margin-left: 15px;}
.profile .my-collections .item {padding: 20px;}
.profile .my-collections .toolbar {
	margin-top: 10px;
	text-align: right;
}

/* Collection viewer */
#not-logged-in {
	width: 99%;
	text-align: center;
}

.collection-asset {
	float:left;
	margin-right:5px;
}

/* Comments */
.comment {
	margin-bottom: 10px;
  border-bottom: dotted #afafaf 1px;
	padding-bottom: 10px;
	position: relative;
	left: -40px;
	background: #fff;
	padding: 20px 30px 20px 40px;
}

#comment-preview .comment {
  min-height: 50px;
}

.short-comment {
  padding: 10px 0;
  width: 545px;
}

.short-comment .avatar {
  width: 71px;
  height: 40px;
  float:left;
}

.short-comment .avatar img.user {
  display:block;
}

.short-comment .avatar .arrow {
  background: transparent url(/images/interface/arrow_bubble.png) no-repeat;  
  position: relative;
  width: 18px;
  height: 28px;
  float: right;
  margin-top: 6px;
}

.short-comment .body {
  background: #ECF4E6;
  border-bottom: solid #d3dbce 3px;
  padding: 15px 20px 5px;
  width: 430px;
  margin-left: 70px;
  overflow: hidden;
}

.short-comment .name {
  float:right;  
}

.short-comment .toggle {
  visibility: hidden;
}

/* Body */
.comment .body {
  margin-left: 56px;
  overflow: hidden;
}

/* Image */
.comment img.user {
  float: left;
  margin-top: 3px;
  margin-right: 10px; 
  
}

/* Date */
.comment .date {  
  color: #B3B3B3;
  float: right;
  font-family: georgia;
  font-size: 1.1em;
  font-style: italic;
  /* position: relative; Clips text */
  right: -15px;
  top: -11px;
  visibility:hidden;
}
.short-comment .date {color: #999;}
.comment_status{font-family:georgia, serif;color:#d3d3d3;margin-left:10px;font-size:1.5em;font-style:italic;}

/* Voting */
.toolbar{visibility:hidden;}
.vote-controls {
	font-size: 70%;
	float: right;
	position: relative;
  top: 0;
  right: 5px;
}

#cancel-response {
  float: left;
  margin-right: 3px;
}

#cancel-response li {
  background-image: url('/images/icons/cancel.png');
  background-repeat: no-repeat;
  width: 16px;
  height: 16px;
  cursor: pointer;
}

/* Form */
.comment-form h2 {
  margin: 30px 0px 0;
  position: relative;
  top: 19px;
  padding: 2px;
}

.comment-form {
  position: relative;
  left: -40px;
}

.comment-form .markItUp {
  width: 620px;
}

.comment-form .markItUpHeader {
  float: right;
}

.comment-form input {
  float: right;
}

.short-comment-form {
  width: 545px;
}

.short-comment-form textarea {
  width: 525px;
  font-size: 1.3em;
  color: #999;
  padding: 9px 8px;
}

/* Counter */
#short-counter {float: right;color: #afafaf;font-size: 1.4em;width: 100px;text-align: right;padding-right: 5px;}
.markItUpHeader {height: 22px;}

/* Profile recent comments*/
.comment_container {margin-left: 50px;}
.item img.user {
  float: left;
  margin-top: 3px;
  margin-right: 10px;  
}

/* Search */
ul.search-kinds {
  margin-left: 40px;
  font-size: 14px;
}
ul.search-kinds li {padding-left: 20px;}
li.search-for-comments {
  background: url(/images/icons/search_comments.png) no-repeat left;
  padding-left: 20px;
}
li.search-for-objects {background: url(/images/icons/search_objects.png) no-repeat left;}
li.search-for-collections {background: url(/images/icons/search_collections.png) no-repeat left;}
div.more-results {text-align: center;}

.collection-dialog p {font-size: 80%;}
.collection-dialog .ui-widget-header {font-size: 80%;}
.collection-dialog .ui-widget-content ul {list-style: none;}
.collection-dialog .ui-widget-content a {color: #2276BB;}


/* Browse */
.browse {padding: 40px 0;}
.col {	
	float:left;
	display:block;
	margin: 0;
}

.col .item{cursor:pointer;}
.col1{width: 195px;min-height: 300px;}
.col2{width: 350px;}
.col3{width: 385px;}
.col2 .item{background:#ebebeb;border-left:solid #dbdbdb 2px;}
.col2 .item:hover{background:#fff;border-left: solid #cbcbcb 2px;cursor:pointer;}
.col .engraved{text-align:center;font-family:georgia;font-style:italic;font-size:1.5em;color:#afafaf;text-shadow:#fff 1px 1px;margin-top:50px;}

.circle {
	-webkit-border-radius: 22px;
	-moz-border-radius: 22px;	
	border-radius: 22px;
	height: 44px;
	width: 44px;
	float: right;
	margin-top: 25px;
}
.circle p{
	margin:14px 0;
	text-align: center;
	color: #fff;
}

.circle p a {color: #fff;}
.red{background: #900;}
.blue{background: #67a4a2;}
.gold{background: #a49e67;}

.type_toolbar {
	position:absolute;
	top: 30px;
	left: -80px;
}

.type_toolbar .type {
	margin-top: 20px;
	height: 60px;
	width: 60px;
	cursor:pointer;
}

.type_toolbar .type_bg {
	position:absolute;
	background: #000;
	height: 60px;
	width: 60px;	
  background:transparent url(/images/interface/circle_black_light.png) no-repeat;
	z-index: 400;
}

.type_toolbar .type p {
	position:relative;
	top: 22px;
	color: #fff;
	z-index: 500;
	text-align:center;
}

.type_toolbar .current .type_bg {
  background:transparent url(/images/interface/circle_black_dark.png) no-repeat;
}
.type_toolbar .type:hover .type_bg {
  opacity: 0.8;
}
.item h3 {margin-top:0;}
.item h2 {margin-top:0;text-transform:uppercase;}

/* Homepage (update) */
.home {
  padding: 40px 26px 20px 26px;
}

.home .rhc {
  width: auto;
  padding: 0;
}

.home .rhc h2 {
  margin-left: 5px;
  border: 0;
}

.home h1 {
  color: #c5c4c4;
  font-size: 3.0em;
  text-shadow: #fff 1px 1px;
  margin-bottom: 35px;
  font-family: "HelveticaNeue-Light", Helvetica, "Arial Narrow", Arial,sans-serif;
}

.home h2, #objects h2, .featured h2 {
  font-family: "Gill Sans Light", "GillSans-Light", "Gill Sans", "Gill Sans MT", sans-serif;
}

.home .mode_switch {
  float: right; position: relative;
}

.home .mode_switch .current, .home .mode_switch .current:hover {
  color: #afafaf; cursor: default;
}

.home #objects, .home #discussions {
  width: 277px;
  float: left;
  display: inline;
  padding: 10px 16px 0 0;
  background: #fff;
}

.home #collections, .home #comments-or-keywords {
  width: 277px;
  margin-left: 32px;
  float: left;
  display: inline;
  padding: 10px 16px 0 0;
  background: #fff;
}

#comments-or-keywords {
  height: 401px;
}

.featured {
  width: 228px;
  padding: 10px 16px 20px 0;
  background: #fff;
}

.lhc {
  width: 631px;
  padding: 0 0 20px 0;
}

.home .featured h2 {
  margin-bottom: 15px;
}

.featured {
  margin-bottom: 20px;
  position:relative;
}

.featured .ribbon {
  background: #E0EBCD;
  height: 55px;
  width: 100%;
  position: absolute;
  left: 0;
  top: 104px;
  z-index: 100;
}

.featured img {
  position: absolute;
  z-index: 200;
  left: 20px;
}

.featured p {
  top: 130px;
  display: block;
  padding: 25px 20px 0;
}

.featured p a {
  display: block;
  margin-top: 5px;
}

.featured .box_shadow {
  background: #000;
  height: 130px;
  left: 28px;
  opacity: 0.2;
  position: relative;
  top: 10px;
  width: 130px;
  z-index: 150;
}

/*  Collections */

.home .lower_home {
  width: 100%;
  display: block;
  clear: both;
  padding-top: 30px;
}

.home .collection {
  background: #fff;
  float: left;
  width: 273px !important;
  border-right: solid 3px #dfdfdf;
  margin: 0 0 10px 0;
  padding: 0 0 10px 18px;
  position:relative;
  height: 100px;
}

.home #collections .list .collection h2 {
  margin-left: 0;
}

.home .collection .circle {
  position: absolute;
  top: -45px;
  right: 0px;
  width: 50px;
  height: 50px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;  
  border-radius: 25px;
}

.home .collection .circle p {
  margin-top:18px;
}

.home .collection .statbar {
  color: #afafaf;
  font-size: 0.3em;
  padding: 0px 26px 0px 0px;
  position: absolute;
  text-align: right;
  top: 86px;
  width: 275px;
  z-index: 109;
}

.collection h2 {
  margin: 0 0 12px 0px;
  font-weight:normal;
  font-family: 'HelveticaNeue-Light',Helvetica, verdana, sans-serif;
}
  
.collection h2 a {
  font-size: 0.8em;    
}
.collection .large {
	float: left;
  margin-right: 0;
  position:relative;
  z-index:110;
  border-right: solid #fff 1px;
}

.collection .film img {
  margin-right: 2px;
}

/* Homepage: Lower Panels*/
.home .rhc h2 {
	color: #aaa;
	font-size: 1.8em;
	margin-bottom: 20px;
}

.discussion .stats {
	height: 20px;
}

.rhc .discussions .discussion, .lhc .discussions .discussion {
  color: #787e7f;
  background: #e6f1f5;
  border: none;	
  border-right: solid #b5d4e3 12px;
  padding: 8px 3px;	
  margin: 5px 0;
  font-size: 1.2em;	
  font-family: 'Gill Sans', "Gill Sans MT", sans-serif;
  left: 0;
  height: 50px;
  width: 218px;
}

.home .discussions .discussion,  .home .comments .comment {
	color: #787e7f;
	background: #e6f1f5;
	border: none;	
	border-right: solid #b5d4e3 12px;
	padding: 8px 3px;	
	margin-bottom: 10px;
	font-size: 1.2em;	
	font-family: 'Gill Sans', "Gill Sans MT", sans-serif;
	left: 0;
  height: 50px;
  width: 275px;
}

.discussions .discussion p {
	font-family: 'Lucida Grande', verdana, sans-serif;
	font-size: 0.9em;
	color: #666;
}

.discussions .loading, .comments .loading{
  margin: 0 20px;
}

.list .loading{
  font-style: italic;
  display: inline;
  font-size: 100%;
}

.board .discussions {
	background: #fff;
	padding: 20px 30px 10px 0;
	display: block;
	float: left;
}

.home #objects h2, .home #collections h2, .home #discussions h2, .home #comments-or-keywords h2 {
  margin-left: 16px;
  color: #aaa;
  font-size: 1.8em;
}

.rhc .discussions {
	background: #fff;
	padding: 12px 30px 10px 0;
	display:block;
}

.home .comments .comment, .comments .comment {
  background: #e0ebcd;
  border-right: solid #c6d5ac 12px;
  overflow: hidden;
}

.comments .comment img {
  display:block;
  margin-bottom: 10px;
  float:right;
}

.comments .comment p {
  margin: 0 55px 0 0;
  font-family: georgia, serif;
  font-style: italic;	
}

.comments .comment .in {
  color: #000;
  margin-top:25px;
}

/* Homepage: collection */
.collection .progress {
	background: #dedede;
	height: 5px;
	width: 85px;
	float: right;
}

.collection .stats {
	margin-right: 20px;	
	height: 22px;
	float: right;
	width: 150px;
	text-align: right;	
/*  position: absolute;*/
	top: 113px;
	right: 0px;
}

.stats .no {
	color: #900900;
	font-style: italic;
}

.last {
  margin-right: 0;
}

/* Homepage: Assets */
.home .asset {
	position: relative;
	height: 100px;
	border-bottom: 0;
	padding-bottom:10px;
	margin-bottom: 10px;
}

.home .asset img {
  position: absolute;
  right: 0;
}

.home .asset .stats, .home .asset .comment_stats {
	width: 120px;
	display: inline;
	position: absolute;
	top: 73px;
	left: 0;
	text-align:right
}

.home .asset .comment_stats {
	top: 50px;
	text-align: right;
}

.home .asset .comment_stats .progress {
	width: 40px;
	float:right;
}

.home .asset .progress {
	background: #dedede;
	height: 5px;
	width: 85px;	
		float:right;
}

.home .asset .circle {
	position:absolute;
	top: 0;
	left: 110px;
	margin-top:0;
}

.home .comment .author {
  visibility:hidden;
  background: none;
  border-bottom: 3px solid #AEBC99;
  left: 0;
  padding: 2px 5px;
  position: absolute;
  text-align: right;
  width: 272px;
}

.home .comment .author a:link, .home .comment .author a:link:hover {
  font-size: 0.7em;
  text-transform: uppercase;
}

/* RHC Collection list on assets page */
.rhc .collection {
  width:auto;
  padding: 10px 10px 10px 15px;
  float: none;
  border-bottom: 0;  
  margin-right:0;
}

.rhc .collection h2{
  margin-bottom:0;
  margin-left:0;
  padding: 4px 14px 5px 1px;
  background:transparent;
  font-style: normal;
  font-family: 'Gill Sans', 'Gill Sans MT', verdana, sans-serif;
  border-bottom: 0;
}

.rounded-panel {
  background: #fff;
  left: -39px;
  margin-top: 14px;
  padding: 39px 10px 39px 40px; 
  position: relative;
  -webkit-border-top-right-radius: 7px;
  -webkit-border-bottom-right-radius: 7px;
  -moz-border-radius-topright: 7px;
  -moz-border-radius-bottomright: 7px;
  border-top-right-radius: 7px;
  border-bottom-right-radius: 7px;
}

/* Boards */
.board .rhc {
  padding-top:0;
  width: 90px;
}

.board .lhc {
  left: -39px;
  padding: 20px 0px 20px 39px;
  background: #fff;
  position:relative;
  width:725px;
}

.board .lhc .discussions {
  padding:0;
}

.board .lhc .discussion {
  margin-right: 15px;
  float: left;
  width: 180px;
}

#board-heading {
  padding-bottom: 20px;
}

#board-heading p {
  width: 400px;
  color: #999;
}

/* Shaded button */
a.button {
  background: transparent url(/images/interface/button_bg_right.png) no-repeat scroll 100% 0%;    
  color: #666;
  display: block;
  font: normal normal bold 12px/normal arial, sans-serif;
  height: 20px;
  margin-right: 6px;
  margin-top: 3px;
  padding-right: 15px;
  text-decoration: none;
  cursor:pointer;
}

a.button span {
  background: transparent url(/images/interface/button_bg_left.png) no-repeat;
  display: block;
  line-height: 14px;
  padding: 3px 0px 3px 15px;
}

a.button:hover {
  background-position: 100% 100%;
  color:#000;
}

a.button:hover span{
  background-position: 0% 100%;
  padding: 4px 0px 2px 15px;
}

/* Showing board discussion thread*/
.board_info h2 {
  background: transparent;
  padding:0;
}

.board_info h2 a, .board_info { 
  color: #B3B3B3;
  text-shadow: 1px 1px #fff;
  font-size: 2.0em;
  text-transform:none;  
}

.board_info {
  font-size: 2.0em;
  text-align:right;
}