.content{
  padding:39px;
}

.wrapper {
  font-family: verdana, sans-serif;
	font-size: 80%;
}

/* Headings */
.ct h1 {
  margin: 0 0 10px 0;
}

.ct h2 {
	margin: 0 0 5px 0;
}

/* Layout */
.unread-messages-count {
  background-color: #7F7F7F;
  display: inline;
  font-size: 10px;
  font-weight: bold;
  margin: 0 0px 0 5px;
  padding: 2px 5px 1px 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

.unread-messages-count.active {
  background-color: #4F8C33;
}

.lower-row {
	padding-top: 20px;
}

.lower-row .lhc {
  float: left;
}

.lhc {
  width: 600px;
}
.rhc {
	float: right;
  width:236px;
  padding-top: 35px;
}

.rhc h2, .profile h2 {
  background: #fff;
  color: #24231D;
  font-family: 'Gill Sans','Gill Sans MT', sans-serif;
  font-size: 1em;
  margin-bottom: 0px;
  padding: 12px 14px 8px 15px;
  text-transform: uppercase;
}

.rhc h2 {
  color: #999;  
  font-size: 1.3em;  
}

.rhc .new {
  position: relative;
  height:25px;
  margin-top: 10px;
  margin-bottom: 20px;
}

.rhc .new a.button {
  margin: 0 auto;
  width: 120px;
}

.pagination {
  display: block;
  clear: both;
  padding-top: 20px;
}
.push {height:1px;clear:both;}
.last {border-bottom: none !important;}
.loading {display:none;font-size:80%;margin-left:10px;color:#afafaf;}
.left {float:left;}
.right {float:right;}

/* Flash notice*/
.notice {
  background: #A7DE9F;
  height: 25px;  
  top: -25px;
  border-bottom: solid 2px #008000;
  left: 0;
  padding: 5px 10px 0px;
  position: absolute;
  width: 925px;
  z-index: 9999;
  cursor: pointer;
}

.notice p {
  font-size: 1.4em;
  padding: 2px 10px;
  text-align: right;
}

.alert {
  background: #FF312C;
  height: 25px;
  top: -25px;
  border-bottom: solid 2px #B00B00;
  left: 0;
  padding: 5px 10px 0px;
  position: absolute;
  width: 925px;
  z-index: 9999;
  cursor: pointer;
}

.alert p {
  font-size: 1.4em;
  padding: 2px 10px;
  text-align: right;
}

.flash.alert ul,
.flash.notice ul {
  float: right;
}

.flash.alert ul li,
.flash.notice ul li {
  display: inline;
  margin-left: 30px;
  font-size: 1.4em;
}

/* Object */
h1.asset-name {
  margin-bottom: 20px;
}

.asset-actions {
  height: 30px;
}

.asset-actions li {
  float: left;
  margin-right: 10px;
}

.asset-meta {/* display:none; */}

.collect-asset {
  cursor: pointer;
  color: #990000;
  text-decoration: none;
}

/* Collection */
.keyword-listing {
  min-height: 20px;
  padding: 10px 10px 10px 0px;
  list-style: none inside url('/images/icons/small_arrows.png');
}

.keyword-listing li {
  float: left;
  margin-right: 15px;
}

.collection-thumbnail {
  cursor: pointer;
}

.lhc .collection-viewer {
  margin-top: 14px;
}

.collection-description{
  color: #A9A9A9;
}

/* Boards */
.boards h1 {
	font-size: 2.5em;
	text-transform: uppercase;
}
#meta-for-discussions {
	font-family: georgia;
	font-size: 1.6em;
	font-style: italic;
	color: #afafaf;
	margin-bottom: 20px;
}

/* Discussion */
.discussion {}
.discussion-title {font-size:1.8em;margin-bottom:15px;}
.discussion-items img {margin-bottom: 5px;}
.question .subtext {font-size: 85%;}
.discussion .question {
  padding: 20px 40px;
  overflow: hidden;
  background: #d5eff7;	
  left: -40px;
  position: relative;
  border-right: solid 8px #C2D9E2;
}

.discussed-asset {
  float: right;
  width: 150px;
  height: 150px;
  margin: -60px -30px -50px 0;
}

.full-width .lhc {
  width: 100%;
}

.discussion .rhc {padding:0 0 0 10px;width:226px;}

/* Item */
.item {
  border-bottom: dotted #afafaf 1px;
  background: #F6F6F6;
  padding: 20px 20px 20px 20px;
}
.item:hover {background: #fff;}
.item .name {
  margin: 5px 0 4px;
  font-weight: normal;
}
.item .date {color: #999;}
.item-container .date {
	color: #888;
	margin-bottom: 3px;
/*  font-size: 80%;*/
}
.item-container .body {
  margin-left: 51px;
  overflow: hidden;
}

.item-container .info {
  display: block;
  height: 15px;
}

/* Item info */
.comment-total {background: url(/images/icons/comment.gif) no-repeat left;}
.views-total {background: url(/images/icons/views.png) no-repeat left;}
.views-total, .comment-total {
	padding-left: 16px;
	color: #000;
	font-size: 85%;
	margin-right: 10px;
	float: left;
}


/* Item Lists */
.rhc .item {
  padding: 10px 10px 10px 15px;
  margin-bottom: 1px;  
}

.lhc .item-list {
  position:relative;
  left:-40px;
  padding: 20px 20px 20px 40px;  
}

/* Moderation */
.moderator-actions {float: right;}
.moderator-actions ul li {
  display: inline;
  margin: 0;
  float: left;
  padding-right: 10px;
}

/* Tag Cloud */
#keyword-cloud {
  padding: 2px;
  line-height: 3em;
  text-align: center;
  margin: 0;
  padding: 25px;
  height: 300px;
}
#keyword-cloud a {padding: 0px;}
#keyword-cloud li {display: inline;}
#keyword-cloud li.level1 { font-size: 0.7em; font-weight: 100; }
#keyword-cloud li.level2 { font-size: 0.8em; font-weight: 200; }
#keyword-cloud li.level3 { font-size: 0.9em; font-weight: 300; }
#keyword-cloud li.level4 { font-size: 1.0em; font-weight: 400; }
#keyword-cloud li.level5 { font-size: 1.2em; font-weight: 500; }
#keyword-cloud li.level6 { font-size: 1.4em; font-weight: 600; }
#keyword-cloud li.level7 { font-size: 1.6em; font-weight: 700; }
#keyword-cloud li.level8 { font-size: 1.8em; font-weight: 800; }
#keyword-cloud li.level9 { font-size: 2.2em; font-weight: 900; }

/* Messages */
.messages .rhc {padding-top:0px;}
.messages .low_link {top: 30px;position:relative;}
.message {background: #fff; padding:15px; margin-right: 20px;margin-bottom:5px;}
.message img {float:left;}
.message .inner {margin-left: 62px;}
.message .date {float:right;color:#999;}
.message .subject {font-size:1.3em;}
.message .preview {margin-top:5px;}

.message-reply-form{ padding:15px;}
.message-reply-form img{ float: left;}
.message-reply-form .inner{ margin-left: 62px;}

/* Collection Discussion Assets */
.discussed.collection-info {
  width: 215px !important;
  float: none !important;
}
.discussed.col {
  width: 215px !important;
}

/* Collection Assets */
.asset-large {
  float: left;
  width: 279px;
  height: 279px;
}

.collection-asset-container {
  margin-left: 12px;
  float: left !important;
}

.collection-asset-nav {
  margin-left: 12px !important;
}

/* Asset Collections */
#asset-as-focus img {
	border: solid #000 1px;
}

#asset-as-focus h1 {
  font-size: 1.8em;
  margin: 0;
}

#asset-as-focus .collection-info {
  margin-top: -22px;
  float: right;
  width: 300px;
}

#asset-as-focus .col {
  width: 300px;
}

#asset-as-focus h2.asset-collections {
  color: #999999;
  font-size: 1.3em;
  margin: 0;
}

h1.collection-title {
  font-size: 1.8em;
  margin: 0;
}

.collection-info {
  width: 300px;
  float: right;
  overflow: hidden;
  position: relative;
}

.collection-info .collection {
  padding: 0px 5px;
  font-size: 0.7em;
}

.collection-info .collection h2 {
  margin: 0;
  text-transform:uppercase;
  font-family: 'Gill Sans', 'Gill Sans MT', verdana, sans-serif;
}

.collection-info .collection .film img {
  margin: 0;
}

.collection-info .container {
  width: 1500px;
  position:relative;
}

.collection-info .col {
  width:300px;
}

.collection-info .nav {
  height: 15px;
  margin: 0;
  margin-left: 5px;
  padding: 5px 0px 0px 5px;
  clear:both;
  position: relative;
  top:5px;
}

.collection-info .nav a {
  background: #dfdfdf;
  height: 6px;
  width: 6px;
  float: left;
  margin-right: 5px;
  -moz-border-radius: 3px;    
  -webkit-border-radius: 3px;  
  border-radius: 3px;
}

.collection-info .nav .current{
  background: #999;
}

/* Profile */
.profile-detail .info h1 {margin-bottom: 0;}
.profile-detail img {float: left;} 
.profile-detail .info {margin-left: 50px;}
.profile-detail {margin-bottom:20px;}

.profile .popular-discussions{float:left;width: 47%;margin-right: 20px;}
.profile .popular-discussions .item .stats {height: 20px;}
.profile .user-comments{float:left;width:49%;}
.profile .item {padding: 10px 20px 10px 20px;}
.profile .rhc{padding-top:0;}

/* My collections on profile page */
.profile .my-collections {margin-left: 15px;}
.profile .my-collections .item {padding: 20px;}
.profile .my-collections .toolbar {
	margin-top: 10px;
	text-align: right;
}

/* Collection viewer */
#not-logged-in {
	width: 99%;
	text-align: center;
}

.edit_collection #collection-assets {
  margin-top: 5px;
  display: block;
  clear: both;
}

.collection-asset {
  float: left;
  margin-right: 5px;
}

/* Comments */
#comment-preview .comment {
  left: 0px;
}
.comment {
	margin-bottom: 10px;
  border-bottom: dotted #afafaf 1px;
	padding-bottom: 10px;
	position: relative;
	left: -40px;
	background: #fff;
	padding: 20px 30px 20px 40px;
}

.short-comment {
  padding: 10px 0;
  width: 545px;
}

.short-comment .avatar {
  width: 71px;
  height: 40px;
  float:left;
}

.short-comment .avatar img.user {
  display:block;
}

.short-comment .avatar .arrow {
  background: transparent url(/images/interface/arrow_bubble.png) no-repeat;  
  position: relative;
  width: 18px;
  height: 28px;
  float: right;
  margin-top: 6px;
}

.short-comment .body {
  background: #ECF4E6;
  border-bottom: solid #d3dbce 3px;
  padding: 15px 20px 5px;
  width: 430px;
  margin-left: 70px;
  overflow: hidden;
}

.short-comment .name {
  float: left;
}

.short-comment .toggle {
  color: #999999;
}

.short-comment .toggle a {
  color: #999999;
}


.short-comment .toggle a:hover {
  color: #990000;
}


/* Body */
.comment .body {
  margin-left: 56px;
  max-height: 400px;
  overflow-y: auto;
  overflow-x: hidden;
  padding-right: 5px;
}

.comment .body blockquote {
  padding: 5px;
  border: 1px solid #afafaf;
  background-color: #eeeeee;
}

.comment .body blockquote p {
  margin: 0;
}

.comment .body ul,
.comment .body ol {
  margin: 5px 5px 5px 20px;
  padding: 0;
}

.comment .body ul li {
  list-style: disc;
  margin-left: 20px;
}

.comment .body ol li {
  list-style: decimal;
  margin-left: 20px;
}

#comment-preview .comment {
  min-height: 50px;
}

/* Image */
.comment img.user {
  float: left;
  margin-top: 3px;
  margin-right: 10px; 
  
}

/* Date */
.comment .date {  
  color: #B3B3B3;
  float: right;
  font-family: georgia;
  font-size: 1.1em;
  font-style: italic;
  /* position: relative; Clips text */
  right: -15px;
  top: -11px;
  /* visibility:hidden; */
}
.short-comment .date {
  color: #999999;
  float: right;
}

.comment_status{font-family:georgia, serif;color:#d3d3d3;margin-left:10px;font-size:1.5em;font-style:italic;}

/* Voting */
.toolbar{visibility:hidden;}
.vote-controls {
	font-size: 70%;
	float: right;
	position: relative;
  top: 0;
  right: 5px;
}

#cancel-response {
  float: left;
  margin-right: 3px;
}

#cancel-response li {
  background-image: url('/images/icons/cancel.png');
  background-repeat: no-repeat;
  width: 16px;
  height: 16px;
  cursor: pointer;
}

/* Form */
.comment-form h2 {
  margin: 10px 0 0 0;
  position: relative;
  top: 26px;
  padding: 2px;
}

.comment-form {
  position: relative;
  left: -40px;
}

.comment-form .markItUp {
  width: 620px;
}

.full-width .comment-form .markItUp {
  width: 855px;
}

.comment-form .markItUpHeader {
  float: right;
}

.comment-form input {
  float: right;
}

.short-comment-form {
  width: 545px;
}

.short-comment-form textarea {
  width: 525px;
  font-size: 1.3em;
  padding: 9px 8px;
}

/* Counter */
#short-counter {float: right;color: #afafaf;font-size: 1.4em;width: 100px;text-align: right;padding-right: 5px;}
.markItUpHeader {height: 22px;}

/* Profile recent comments*/
.comment_container {margin-left: 50px;}
.item img.user {
  float: left;
  margin-top: 3px;
  margin-right: 10px;  
}

/* Search */
ul.search-kinds {
  margin-left: 40px;
  font-size: 14px;
}
ul.search-kinds li {padding-left: 20px;}
li.search-for-comments {
  background: url(/images/icons/search_comments.png) no-repeat left;
  padding-left: 20px;
}
li.search-for-objects {background: url(/images/icons/search_objects.png) no-repeat left;}
li.search-for-collections {background: url(/images/icons/search_collections.png) no-repeat left;}
div.more-results {text-align: center;}

/* Collection dialog */
.collect-dialog {
  max-height: 450px;
  overflow-y: auto;
}

.collect-dialog li.new-collection img {
  margin: 3px 2px 0px -8px;
}

.collect-dialog li {
  margin: 0px 0px 1px 0px;
  padding: 5px 5px 5px 12px;
  background-color: #F6F6F6;
  border-bottom: 1px dotted #AFAFAF;
}

.collect-dialog li:hover {
  background: #FFFFFF;
}

.collect-dialog ul li a {
  color: #990000;
}

/* Tags for object */
#tags-for-focus .keyword-link {
  font: normal normal bold 10px/normal arial, sans-serif;
  text-align: center;
}

#tags-for-focus .keyword-collect {
  margin: 10px 0px;
  padding: 0;
}


/* Browse */
.browse {
  padding: 40px 0;
}

.browse .titles {
  display: block;
  clear: both;
  height: 20px;
  margin-bottom: 5px;
}

.browse .titles .engraved {
  text-align: center;
  font-family: georgia;
  font-style: italic;
  font-size: 1.5em;
  color: #afafaf;
  text-shadow: #fff 1px 1px;
}

.browse .titles .focus,  .browse .titles .discussions, .browse .titles .comments {
  float: left;
}

.browse .titles .focus {
  width: 195px;
}

.browse .titles .discussions {
  width: 350px;
}

.browse .titles .comments {
  width: 385px;
}

.col {
  float: left;
  display: block;
  margin: 0;
}

.col .item {
  cursor: pointer;
}

.col1 {
  width: 195px;
  min-height: 300px;
}

.col2 {
  width: 350px;
}

.col3 {
  width: 385px;
}

.col2 .item{
  background: #ebebeb;
  border-left: solid #dbdbdb 2px;
}

.col2 .item:hover {
  background: #fff;
  border-left: solid #cbcbcb 2px;
  cursor: pointer;
}

.col .engraved {
  text-align: center;
  font-family: georgia;
  font-style: italic;
  font-size: 1.5em;
  color: #afafaf;
  text-shadow: #fff 1px 1px;
  margin-top: 50px;
}

.circle {
	-webkit-border-radius: 22px;
	-moz-border-radius: 22px;	
	border-radius: 22px;
	height: 44px;
	width: 44px;
	float: right;
	margin-top: 25px;
}
.circle p{
	margin:14px 0;
	text-align: center;
	color: #fff;
}

.circle p a {color: #fff;}
.red{background: #900;}
.blue{background: #67a4a2;}
.gold{background: #a49e67;}

.type_toolbar {
	position:absolute;
	top: 30px;
	left: -80px;
}

.type_toolbar .type {
	margin-top: 20px;
	height: 60px;
	width: 60px;
	cursor:pointer;
}

.type_toolbar .type_bg {
	position:absolute;
	background: #000;
	height: 60px;
	width: 60px;	
  background:transparent url(/images/interface/circle_black_light.png) no-repeat;
	z-index: 400;
}

.type_toolbar .type p {
	position:relative;
	top: 22px;
	color: #fff;
	z-index: 500;
	text-align:center;
}

.type_toolbar .current .type_bg {
  background:transparent url(/images/interface/circle_black_dark.png) no-repeat;
}
.type_toolbar .type:hover .type_bg {
  opacity: 0.8;
}
.item h3 {margin-top:0;}
.item h2 {margin-top:0;text-transform:uppercase;}

/* Homepage (update) */
.home {
  padding: 40px 26px 20px 26px;
}

.home .rhc {
  width: auto;
  padding: 0;
}

.home .rhc h2 {
  margin-left: 5px;
  border: 0;
}

.home h1 {
  color: #c5c4c4;
  font-size: 3.0em;
  text-shadow: #fff 1px 1px;
  margin-bottom: 35px;
  font-family: "HelveticaNeue-Light", Helvetica, "Arial Narrow", Arial,sans-serif;
}

.home h2, #objects h2, .featured h2 {
  font-family: "Gill Sans Light", "GillSans-Light", "Gill Sans", "Gill Sans MT", sans-serif;
}

.home .mode_switch {
  float: right; position: relative;
}

.home .mode_switch .current, .home .mode_switch .current:hover {
  color: #afafaf; cursor: default;
}

.home #objects, .home #discussions {
  width: 277px;
  float: left;
  display: inline;
  padding: 10px 16px 0 0;
  background: #fff;
}

.home #collections, .home #comments-or-keywords {
  width: 277px;
  margin-left: 32px;
  float: left;
  display: inline;
  padding: 10px 16px 0 0;
  background: #fff;
}

#comments-or-keywords {
  height: 401px;
}

.featured {
  width: 228px;
  padding: 10px 16px 20px 0;
  background: #fff;
}

.lhc {
  width: 631px;
  padding: 0 0 20px 0;
}

.home .featured h2 {
  margin-bottom: 15px;
}

.home .featured .board_info {
  position: absolute;
  top: 50px;
  left: 25px;
  text-align: left;
  z-index: 250;
}

.home .featured .board_info h2 {
  color: #DDDDDD;
  text-transform: none;
  text-shadow: 1px 1px #333333;
}

.featured {
  margin-bottom: 20px;
}

.featured .list {
  position: relative;
}

.featured .ribbon {
  height: 55px;
  width: 100%;
  position: absolute;
  left: 0;
  top: 40px;
  z-index: 100;
}

.featured img {
  position: absolute;
  z-index: 200;
  left: 20px;
}

.featured p {
  display: block;
  padding: 15px 20px 0;
}

.featured .box_shadow {
  background: #000;
  height: 130px;
  left: 28px;
  opacity: 0.2;
  position: relative;
  top: 10px;
  width: 130px;
  z-index: 150;
}

/*  Collections */

.home .lower_home {
  width: 100%;
  display: block;
  clear: both;
  padding-top: 30px;
}

.home .collection {
  background: #fff;
  float: left;
  width: 260px !important;
  margin: 0 0 10px 16px;
  padding: 0 0 10px 0px;
  position: relative;
  height: 100px;
}

.home .collection .collection-info {
  width: 260px;
  position: relative;
}

.home .collection .col {
  width: 260px;
  margin-right: 0;
}

.home .collection .nav {
  position: absolute;
  top: auto;
  bottom: 0;
  z-index: 3;
}

.home .collection .stat {
  color: #FFFFFF;
}

.home #collections .list .collection h2 {
  margin-left: 0px;
}

.home .collection .circle {
  position: absolute;
  left: 3px;
  top: -23px;
  width: 50px;
  height: 50px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  border-radius: 25px;
  z-index: 2;
}

.home .collection .circle p {
  margin-top: 18px;
}

.home .collection img {
  z-index: 1;
}

.home .collection .stats-wrapper {
  left: 0;
  top: 63px;
  height: 33px;
}

.home .collection .title-bar {
  position: absolute;
  top: 0;
  right: 0;
  width: 160px;
  height: 20px;
  padding: 2px 5px;
  overflow: hidden;
  z-index: 2;
  text-align: center;
  
  -moz-border-radius-bottomleft: 15px;
  -webkit-border-bottom-left-radius: 15px;
  border-bottom-left-radius: 15px;
}

.home .collection .title-bar a {
  color: #FFFFFF;
  text-transform: uppercase;
}

.home .collection .nav a {
  background-color: #E5E5E5;
  border: 1px solid #999999;
}

.home .collection .nav a:link:hover {
  background-color: #CCCCCC;
  border: 1px solid #777777;
}

.home .collection .nav a.current {
  background-color: #B2B2B2;
}

.collection h2 {
  margin: 0 0 12px 0px;
  font-weight: normal;
  font-family: 'HelveticaNeue-Light',Helvetica, verdana, sans-serif;
}
  
.collection h2 a {
  font-size: 0.8em;
}

.collection .large {
  float: left;
  margin-right: 0;
  position: relative;
  z-index: 110;
  border-right: solid #fff 1px;
}

.collection .film img {
  margin-right: 2px;
}

.new_collection, .edit_collection,
.new_live_collection, .edit_live_collection,
.new_discussion, .edit_discussion,
.new_message {
  margin-top: 20px;
}

.new_collection span, .edit_collection span,
.new_live_collection span, .edit_live_collection span,
.new_discussion span, .edit_discussion span,
.new_message span {
  line-height: 3.0em;
  display: block;
  clear: both;
}

.new_collection p.label, .edit_collection p.label,
.new_live_collection p.label, .edit_live_collection p.label,
.new_discussion p.label, .edit_discussion p.label,
.new_message p.label {
  text-align: right;
  margin-right: 10px;
  width: 160px;
  float: left;
}

.new_discussion p.label, .edit_discussion p.label {
  width: 40px;
}

#live_collection_form {
  display: block;
  clear: both;
}

#live_collection_form .keyword-filter {
  display: block;
  clear: both;
}

.new_collection input[type="submit"], .edit_collection input[type="submit"],
.new_live_collection input[type="submit"], .edit_live_collection input[type="submit"],
.new_message input[type="submit"] {
  float: right;
  margin: 10px 40px 0 0;
  display: block;
  clear: both;
}

.new_message input[type="submit"] {
  margin-right: 200px;
}

.message-reply-form .new_message input[type="submit"] {
  margin-right: 10px;
}

.message-reply-form .new_message p.label {
  width: 70px;
}


/* Homepage: Lower Panels*/
.home .rhc h2 {
	color: #aaa;
	font-size: 1.8em;
	margin-bottom: 20px;
}

.discussion .stats {
	height: 20px;
}

.rhc .discussions .discussion, .lhc .discussions .discussion {
  color: #787e7f;
  background: #e6f1f5;
  border: none;	
  border-right: solid #b5d4e3 12px;
  padding: 8px 3px;
  margin: 5px 0px;
  font-size: 1.2em;
  font-family: 'Gill Sans', "Gill Sans MT", sans-serif;
  left: 0;
  height: 50px;
  width: 218px;
}

.home .discussions .discussion,  .home .comments .comment {
	color: #787e7f;
	background: #e6f1f5;
	border: none;
	border-right: solid #b5d4e3 12px;
	padding: 8px 3px;
	margin-bottom: 10px;
	font-size: 1.2em;
	font-family: 'Gill Sans', "Gill Sans MT", sans-serif;
	left: 0;
  height: 50px;
  width: 275px;
}

.discussions .discussion p {
	font-family: 'Lucida Grande', verdana, sans-serif;
	font-size: 0.9em;
	color: #666;
}

.discussions .loading, .comments .loading{
  margin: 0 20px;
}

.list .loading{
  font-style: italic;
  display: inline;
  font-size: 100%;
}

.board .discussions {
	background: #fff;
	padding: 20px 30px 10px 0;
	display: block;
	float: left;
}

.home #objects h2, .home #collections h2, .home #discussions h2, .home #comments-or-keywords h2 {
  margin-left: 16px;
  color: #aaa;
  font-size: 1.8em;
}

.rhc .discussions {
	background: #fff;
	padding: 12px 30px 10px 0;
	display:block;
}

.home .comments .comment, .comments .comment {
  background: #e0ebcd;
  border-right: solid #c6d5ac 12px;
  overflow: hidden;
}

.comments .comment img {
  display:block;
  margin-bottom: 10px;
  float:right;
}

.comments .comment p {
  margin: 0 55px 0 0;
  font-family: georgia, serif;
  font-style: italic;	
}

.comments .comment .in {
  color: #000;
  margin-top:25px;
}

/* Homepage: collection */
.collection .progress {
	background: #dedede;
	height: 5px;
	width: 85px;
	float: right;
}

.collection .stats {
	margin-right: 20px;	
	height: 22px;
	float: right;
	width: 150px;
	text-align: right;	
/*  position: absolute;*/
	top: 113px;
	right: 0px;
}

.stats .no {
	color: #900900;
	font-style: italic;
}

.last {
  margin-right: 0;
}

/* Homepage: Assets */
.home .asset {
	position: relative;
	height: 100px;
	border-bottom: 0;
	padding-bottom:10px;
	margin-bottom: 10px;
}

.home .asset img {
  position: absolute;
  right: 0;
}

.stats-wrapper {
  position: absolute;
  top: 62px;
  left: 17px;
  width: 90px;
  text-align: left;
  padding: 2px;
  z-index: 2;
  
  -moz-border-radius-topright: 25px;
  -webkit-border-top-right-radius: 25px;
  border-top-right-radius: 25px;
}

.translucent.red {
  background: rgb(153, 0, 0);
  background: rgba(153, 0, 0, 0.6);
}

.translucent.gold {
  background: rgb(164, 158, 103);
  background: rgba(164, 158, 103, 0.6);
}

.home .asset .stats {
  position: relative;
  width: 100%;
  display: block;
  text-align: left;
  margin-left: 2px;
  color: #FFFFFF;
}

.home .asset .circle {
  position: absolute;
  top: 2px;
  left: 20px;
  margin-top:0;
  width: 50px;
  height: 50px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  border-radius: 25px;
}

.home .asset .circle p {
  margin-top: 18px;
}

.home .comment .author {
  float: right;
  right: -2px;
  background: none;
  border-bottom: 3px solid #AEBC99;
  padding: 2px 5px;
  position: absolute;
  text-align: right;
}

.home .comment .in a {
  color: #999999;
}

.home .comment .author a:link, .home .comment .author a:link:hover {
  font-size: 0.7em;
  text-transform: uppercase;
}

/* RHC Collection list on assets page */
.rhc .collection {
  width:auto;
  padding: 10px 10px 10px 15px;
  float: none;
  border-bottom: 0;  
  margin-right:0;
}

.rhc .collection h2{
  margin-bottom:0;
  margin-left:0;
  padding: 4px 14px 5px 1px;
  background:transparent;
  font-style: normal;
  font-family: 'Gill Sans', 'Gill Sans MT', verdana, sans-serif;
  border-bottom: 0;
}

.rounded-panel {
  background: #fff;
  left: -39px;
  margin-top: 14px;
  padding: 39px 10px 39px 40px; 
  position: relative;
  -webkit-border-top-right-radius: 7px;
  -webkit-border-bottom-right-radius: 7px;
  -moz-border-radius-topright: 7px;
  -moz-border-radius-bottomright: 7px;
  border-top-right-radius: 7px;
  border-bottom-right-radius: 7px;
}

/* Boards */
.board .rhc {
  padding-top: 0;
  width: 200px;
}

.board .lhc {
  left: -39px;
  padding: 20px 0px 20px 15px;
  background: #fff;
  position: relative;
  min-width: 650px;
}

.board .lhc .discussions {
  padding:0;
}

.board .lhc .discussion {
  margin-right: 15px;
  float: left;
  width: 180px;
}

#board-heading {
  padding-bottom: 20px;
}

#board-heading p {
  width: 400px;
  color: #999;
}

/* Shaded button */
a.button {
  background: transparent url(/images/interface/button_bg_right.png) no-repeat scroll 100% 0%;    
  color: #666;
  display: block;
  font: normal normal bold 12px/normal arial, sans-serif;
  height: 20px;
  margin-right: 6px;
  margin-top: 3px;
  padding-right: 15px;
  text-decoration: none;
  cursor:pointer;
}

a.button span {
  background: transparent url(/images/interface/button_bg_left.png) no-repeat;
  display: block;
  line-height: 14px;
  padding: 3px 0px 3px 15px;
}


a.button.pressed {
  background-position: 100% 100%;
  color:#000;
}

a.button.pressed span{
  background-position: 0% 100%;
  padding: 4px 0px 2px 15px;
}

/* Showing board discussion thread*/
.board_info h2 {
  background: transparent;
  padding:0;
}

.board_info h2 a, .board_info { 
  color: #B3B3B3;
  text-shadow: 1px 1px #fff;
  font-size: 2.0em;
  text-transform:none;  
}

.board_info {
  font-size: 2.0em;
  text-align:right;
}
