body {
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	background-color: #fff;
}

.left {
	float:left;
}

.right {
	float:right;
}

a img {
	border:none;
}

#top_bar {
	height: 36px; 
	width:100%;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #000000;
	background-image: url(/images/top_nav_bg.gif);
	background-repeat: repeat-x;
	padding: 0px;
	margin: 0px;
}

#top_bar_container {
	height: 36px; 
	width:930px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #000000;
	background-image: url(/images/top_nav_bg.gif);
	background-repeat: repeat-x;
	padding: 0px;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
}

#top_bar ul {
	list-style:none;
	text-align:left;
	margin: 0px;
	padding: 0px 0px;
	text-align:left;
}

#top_bar ul li {
	display: inline;
	font-size: 0.7em;
	margin-left: 0px;
	margin-top: 0px;
	padding-top: 0px;
	padding-right: 5px;
	padding-bottom: 0px;
	padding-left: 2px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-weight: normal;
	color: #FFFFFF;
	line-height:36px;
}

#top_bar ul li.language {
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	margin-top: 5px;
}

#top_bar ul li img.language {
	padding-bottom:0px;
}

#top_bar ul li.highlight {
	color: #fba21c;
}

#top_bar img {
	margin: 0 0 5px 0px;
}

/**/
#header {
	clear:both;
/*	float:left;*/
	width:100%;
/*	background-image: url(/images/header_bg.gif);*/
	background-repeat: repeat-x;
	height: 95px; 
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #494747;
}

#header #logo {
	padding: 30px 10px;
}

#lcol {
  float:left;
  width:180px;
	padding-left:10px;
	border-right: solid #000 1px;
	height: 500px;
	padding-top:20px;
}

#header {
	border-bottom: solid #000 1px;
}

.wrapper {
	width: 930px;
	margin: 0 auto;
	font-family: verdana, sans-serif;
	font-size: 80%;
}