<h1><%= @user.name %></h1>

<span id="report-user-link-<%= @user.id %>"><%= link_to("REPORT THIS USER", {:controller => :events, :action => :report_user, :user_id => @user.id}, {:remote => true, :method => :post, :method => :post, :style => "color:#2276BB;"}) %></span>