<!-- Box for ABOUT on front page -->
<div id="about-box" class="panel">
	<h2>WHAT IS SELLERS?</h2>
	<p>Sellers is a collaboration tool that lets you learn to stop worrying and love the bomb.. er I mean the Zooniverse.</p>
</div>