<!-- Displays an asset with meta data for discussion and comment -->
<%= image_tag(@asset.location, :class => "main-image", :id => "asset-image", :width => 300) %>
<div id="asset-meta">
	<ul>
		<li><%= @asset.zooniverse_id.to_s %></li>
		<li><%= @asset.name.to_s %></li>
		<li><%= @asset.coords.first.to_s %></li>
	</ul>
</div>