<!-- Box for HELP, SCIENCE and CHAT threads on front page -->
<div class="panel boards-list">	
	<h2><%= link_to title, :controller => :boards, :action => title.downcase %></h2>
		<ul>
			<% this_list.each do |l| %>
			<li class="name">
			<%= link_to l.subject.truncate(80), discussion_url_for(l) %>
				<div class="info"><%= pluralize( l.number_of_comments, 'comment') %></div>
				</li>
			<% end %>
		</ul>
		<div class="push"></div>
</div>