<!-- Box for HELP, SCIENCE and CHAT threads on front page -->
<div class="panel boards-list">
	<h3><%= title %></h3>
	<ul>
		<% this_list.each do |l| %>
		<li class="name"><%= link_to l.subject, "#" %></li>
		<% end %>
	</ul>
</div>