<!-- Displays a collection with meta data for discussion and comment -->

<% unless @collection.assets.empty?%>
	<% @collection.assets.each do |item| %>												
		<%= link_to image_tag(item.location, :class => "collection-thumbnail", :height => 50), object_path(item.zooniverse_id) %>
	<% end %>																	
<% else %>
	EMPTY COLLECTION				
<% end %>									

<%- if @collection.user == current_zooniverse_user -%>
<div class="asset-actions">
	<ul>
		<li><%= link_to "Edit", edit_collection_path(@collection.zooniverse_id) %></li>
	</ul>
</div>
<%- end -%>
