<!-- Short comment without attachments - character limit? -->
<div class="short-comment">
	<%= image_tag('default_user.png', :class => "short-comment-user", :height => 40) %>
	<div class="comment-container">
		<div class="name">Name</div>
		<div class="date">14 January 2010, 10.37 AM</div>
		<div class="comment-body">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore.</div>
	</div>
		
</div>