<!-- Box for adding a new full discussion comment -->
<%= form_for @comment do |f| %>
	<div class="comment-form">
		Add a comment<br/>
		<%= f.text_area :body, :rows => 4, :cols => 61 %>
		<%= submit_tag 'Submit' %>	
	</div>
<%- end %>