<!-- Short comment without attachments - character limit? -->
<div class="short-comment">
	<%= image_tag('default_user.png', :class => "short-comment-user", :height => 40) %>
	<div class="comment-container">
		<span class="name"><%= comment_short.author.name %></span><div class="comment-body"><%= comment_short.body %></div>				
	</div>	
	<div class="date"><div style="margin-top:2px;font-size:90%;"><%= long_date(comment_short.created_at) %></div><div class="vote-controls" style="margin-top:5px;float:right;"><a href="#" style="color:#2276BB;margin: 0;">RECOMMEND</a>&nbsp;|&nbsp;<a href="#" style="color:#2276BB;">REPORT</a></div></div>
</div>