<!-- Short comment without attachments - character limit? -->
<div class="short-comment">
	<%= image_tag('default_user.png', :class => "short-comment-user", :height => 40) %>
	<div class="comment-container">
		<span class="name"><%= comment_short.author.name %></span><div class="comment-body"><%= comment_short.body %></div>				
	</div>	
	<div class="date"><%= long_date(comment_short.created_at) %> <div class="vote-controls"><a href="#" style="color:#aaa;">REPORT</a>&nbsp;&nbsp;&nbsp;<a href="#" >&#8593;&nbsp;UP</a>&nbsp;&nbsp;<a href="#">&#8595;&nbsp;DOWN</a></div></div>
</div>