<!-- Short comment without attachments - character limit? -->
<div class="shortComment">
	<%= image_tag('default_user.png', :class => "shortCommentUser", :height => 40) %>
	<div class="commentContainer">
		<div class="name">Name</div>
		<div class="date">14 January 2010, 10.37 AM</div>
		<div class="commentBody">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore.</div>
	</div>
		
</div>