<!-- Box for HELP WANTED on front page -->
<div id="help-wanted" class="panel">
	<h3>HELP WANTED</h3>
	<ol>
		<li>Help Bill find Green Peas</li>
		<li>Help Michael locate the big, purple truck</li>
		<li>Help us understand tags</li>
	</ol>
</div>