<div id="help-wanted">
  <h2><%= t 'homepage.featured' %></h2>
  
  <%- Discussion.featured.all.each do |feature| %>
    <div class="item">
      <div class="item-container">
        <div class="name"><%= title_link_for feature %></div>
        <div class="users-total"><%= pluralize(feature.number_of_users, "user") %></div>
        <div class="comment-total"><%= pluralize(feature.number_of_comments, "comment") %></div>
        <div class="push"></div>
      </div>
    </div>
  <% end -%>
</div>
