<!-- Box for front page recent discussions -->
<div id="<%= id_of_box %>" class="panel">
	<% discussions_list.each do |d| %>
		<div class="recent-item">
			<div class="item-container">
				<div class="name"><%= d.subject %></div>
				<div class="date">14 January 2010, 10.37 AM</div>
				<div class="body"><%= d.focus_type %></div>
			</div>
		</div>
	<% end %>
</div>