<!-- Box for front page recent discussions -->
<div id="recent-discussions" class="panel">
	<h3>DISCUSSIONS</h3>
	<% discussions_list.each do |d| %>
		<div class="recent-comment">
			<div class="comment-container">
				<div class="name"><%= d.subject %></div>
				<div class="date">14 January 2010, 10.37 AM</div>
				<div class="comment-body"><%= d.focus_type %></div>
			</div>
		</div>
	<% end %>
</div>