<!-- Displays list of discussions about a focus -->
<% unless @focus.discussions.empty? %>
	<div class="panel collection-list">
			<h2>DISCUSSIONS</h2>
			<ul>
			  <%- @focus.discussions.each do |discussion| %>
			    <li><%= discussion_link_for(@focus, discussion) %></li>
			  <% end -%>
			</ul>		
	</div>
<% end %>