<!-- Displays list of discussions about a focus -->
<% unless @focus.discussions.empty? %>
	<div class="panel collection-list">
			<h2>Discussions</h2>
			<div class="inner">
			<ul>
			  <%- @focus.discussions.each do |discussion| %>
			    <li><%= link_to discussion.subject, discussion_url_for(discussion) %></li>
			  <% end -%>
			    <li class="new"><%= link_to "+ #{t('discussion.startnew')}", new_discussion_url_for(@focus) %></li>
			</ul>		
			</div>
	</div>
<% else %>
<div class="panel collection-list">
		<h2>Discussions</h2>
		<div class="inner">
		<ul>
		    <li class="new"><%= link_to "+ #{t('discussion.startnew')}", new_discussion_url_for(@focus) %></li>
		</ul>		
		</div>
</div>
<% end %>