<!-- Box for front page recent assets -->
<div id="recent-assets" class="panel">
	<h3>ASSETS</h3>
	<% assets_list.each do |a| %>
		<div class="recent-comment">
			<%= image_tag(a.thumbnail_location, :class => "recent-comment-user", :height => 40) %>
			<div class="comment-container">
				<div class="name"><%= a.name %></div>
				<div class="date">14 January 2010, 10.37 AM</div>
				<div class="comment-body"><%= a.zooniverse_id %></div>
			</div>
		</div>
	<% end %>
</div>