<!-- Box for messages list -->
<div id="<%= id_of_box %>" class="panel">
	<% @messages.each do |message| %>
		<div class="recent-item">
			<div class="item-container">
				<div class="name"><%= message.title %></div>
				<div class="date"><%= message.created_at %></div>
				<div class="body"><%= message.body %></div>
			</div>
		</div>
	<% end -%>
</div>