<!-- Displays list of collections containing a focus -->
<div class="panel collectionList">
<h2>COLLECTIONS</h2>
<ul>
	<li>Bob's collection of stuff</li>
	<li>Another Collection - by Someone</li>
	<li>Yet Another Collection - by Another</li>		
		
</div>