<!-- Box for front page recent collections -->
<div id="<%= id_of_box %>" class="panel">
	<% collections_list.each do |c| %>
		<div class="recent-item">
			<div class="item-container">
				<div class="name"><%= c.name %></div>
				<div class="date"><%= c.assets.length %> Objects</div>
				<div class="body"><%= c.description %></div>
			</div>
		</div>
	<% end %>
</div>