<!-- Displays list of collections containing a focus -->
<% unless @collections.empty? %>
<div class="panel">	
	<h2>COLLECTIONS</h2>
	<ul>
  	<%- @collections.each do |collection| %>
  	  <li><%= link_to collection.name, "#" %></li>
  	<% end -%>
	</ul>		
</div>
<% end %>