<!-- Displays info about the discussions for a board -->
<div id="meta-for-discussions" class="panel">
	<div> </div>
<%= @board.discussion_ids.length %> <%= t 'discussion.meta.discussions' %> / <%= @board.number_of_comments %> <%= t 'discussion.meta.comments' %>
</div>