<!-- Displays info about the discussions for a board -->
<div id="meta-for-discussions" class="panel tags right">
	  <ul>
  		<li>Discussions: <%= @board.discussions.count %></li>
		<li>Participants: <%= @board.number_of_users %></li>
		<li>Comments: <%= @board.number_of_comments %></li>
      </ul>
</div>