<div id="sidebar">
	<ul>
		<li><%= link_to t('sidenav.home'), :controller => :home, :action => :index %></li>
		<li><%= link_to t('sidenav.messages'), :controller => :messages, :action => :index %></li>
	</ul>
</div>