<!-- Displays tags for a focus -->
<% unless @focus.tags.empty? %>
	<div id="tags-for-focus" class="panel tags right">
		<h2><%= t 'homepage.keywords' %></h2>
		<div class="inner">
		  	<ul>
		    <%- @focus.tags.each do |tag| %>
		  		<li><%= link_to tag, :controller => :search, :action => :index, :search => "keywords:#{tag}" %></li>
		  	<% end -%>
			</ul>
			<div class="push"></div>
		</div>
	</div>
<% end %>