<%= content_for :content_class do %>explore<% end %>

<div class="type_toolbar">
	<div class="type current" id="assets"><div class="type_bg"></div><p>Assets</p></div>
	<div class="type" id="collections"><div class="type_bg"></div><p>Collections</p></div>
	<div class="type" id="boards"><div class="type_bg"></div><p>Boards</p></div>		
</div>
<div class="col col1">
	<div class="engraved">Assets</div>
</div>	
<div class="col col2">
	<div class="engraved">Discussions</div>
</div>
<div class="col col3">
	<div class="engraved">Comments</div>
</div>