<div class="lhc">		
	<div class="comments-list">
		<%= render :partial => "shared/stream" %>
	</div>
</div>
<div class="rhc">
	<%= render :partial => "shared/list_of_collections" %>			
	<%= render :partial => "shared/list_of_discussions" %>	
	<%= render :partial => "shared/list_of_mentions" %>									
</div>