.recents.page .two-thirds.column .subjects .list .subject-summaries .subject-summary
  height: 280px

.following.page .two-thirds.column .subjects .list .subject-summaries .subject-summary .preview
  min-height: 160px

.user.page .two-thirds.column .subjects .list .subject .preview
  min-height: 160px

.notes-from-nature-subject-viewer
  // subject viewer styles would go here