.recents.page .two-thirds.column .subjects .list .subject-summaries .subject-summary
  height: 280px

.trending.page .two-thirds.column .subjects .list .subject-summaries .subject-summary
  height: 300px

.following.page .two-thirds.column .subjects .list .subject-summaries .subject-summary .preview
  min-height: 160px

.user.page .two-thirds.column .subjects .list .subject .preview
  min-height: 160px

.notes-from-nature-subject-viewer
  position: relative
  
  .large-mouseover
    display: none
    position: absolute
    top: 0
    left: 103%
    width: 200%
    min-width: 722px
    height: 100%
    min-height: 272px
    background-repeat: no-repeat
    border: 1px solid #000000
    box-sizing: border-box
    z-index: 100
