<%- @assets.each do |asset| %>
  <div class="asset">
    <%= link_to image_tag(asset.thumbnail_location, :width => 260, :height => 100), object_path(asset.zooniverse_id) %>
    <div class="translucent red circle">
      <p><%= link_to short_id_for(asset), object_path(asset.zooniverse_id) %></p>
    </div>
    <div class="translucent red stats-wrapper">
      <div class="stats">
        <%= "#{ pluralize asset.count_collections, 'collection' }" %>
      </div>
      <div class="stats">
        <%= "#{ pluralize asset.count_mentions, 'mention' }" %>
      </div>
    </div>
  </div>
<% end -%>
