<%- @assets.each do |asset| %>
  <div class="asset">
    <%= link_to image_tag(asset.thumbnail_location, :size => "94x94"), object_path(asset.zooniverse_id) %>
    <div class="red circle">
      <p><%= link_to short_id_for(asset), object_path(asset.zooniverse_id) %></p>
    </div>
    <div class="stats">
      <span class="no"><%= "#{ pluralize asset.count_mentions, 'mention' }" %></span><br />
      <div class="progress"></div>
    </div>
    <div class="stats comment_stats">
      <span class="no"><%= "#{ pluralize asset.count_collections, 'collection' }" %></span><br />
      <div class="progress"></div>
    </div>
  </div>
<% end -%>
