<% unless @boards.empty? %>
	<% @boards.each do |board| %>
	<div class="item board" id="<%= board.id %>">
		 <h2><%= board.title %></h2>
	</div>
	<% end %>
<% else %>
	<div class="engraved">No boards</div>
<% end %>