.subject.page
  header h2
    color: #333333

.group.page
  .description
    .data-label
      display: inline-block
      width: 19%
      margin: 4px 0
    
    .wind-data, .pressure-data
      canvas
        margin: 4px 0
