.higgs-hunter-subject-viewer

  button
    @extends #standard-button
    outline: none

  img
    display: none
    width: 100%

  .controls
    margin: 10px 0 0 0

  label
    background: #3e8c4e
    border-radius: 3px
    box-shadow: none
    color: white
    float: right
    font-weight: 700
    padding: 4px 10px
