.higgs-hunter-subject-viewer
  position: relative

  button
    @extends #standard-button
    outline: none

  img
    display: none
    width: 100%

  .large-mouseover
    display: none
    position: absolute
    top: 0
    left: 103%
    width: 200%
    height: 100%
    min-height: 272px
    background-repeat: no-repeat
    border: 1px solid #000000
    box-sizing: border-box
    z-index: 100

  .controls
    margin: 10px 0 0 0
