.planet-hunter-subject-viewer
  display: inline

  canvas
    background: black

  .graph-and-quarters
    display: flex

  .lightcurve-viewer
    min-width: 1088px
    max-height: 500px
    height: 445px
    margin-bottom: 10px

    #tools
      text-align: center
      color: gray
      position: relative
      top: -421px
      left: 1024px
      width: 54px
      height: 432px
      padding: 5px
      background-color: #222

      .tool-button
        display: inline-block
        padding: 5px
        margin: 5px 0px 5px 0px
        text-align: center
        font-size: 11px
        opacity: 0.5
        border: none
        color: white
        background-color: #333
        height: 60px
        width: 100%
        border-radius: 0.3em
        transition: 0.3s
        outline: none

        &.active
          transform: translateY(1px)
          box-shadow: none

        &:disabled
          opacity: 0.15

        &:hover
          background-color: #4c4c4c
          border-radius: 0.3em
          opacity: 1.0

        &.toggled
          background-color: #151A1B
          transition: 0.3s

        span
          top: 20px
          position: relative
          display: inline-block
          margin-bottom: 10px

        &#zoom-button
          background: url("http://www.planethunters.org/images/icons/zoom-in.svg") no-repeat 50% 35%
          &.allowZoomOut
            background: #151a1b url("http://www.planethunters.org/images/icons/zoom-out.svg") no-repeat 50% 35%
          &.zoomed
            background-color: #151a1b

    #slider-container
      height: 24px
      width: 1024px
      border: 1px #585858 solid
      top: -445px
      position: relative
      background-color: black
      box-sizing: border-box

      #ui-slider
        width: 1026px
        height: 24px
        position: relative
        display: inline-block
        background: none
        box-sizing: border-box

        &.noUi-background
          border: 1px solid #323232

        &.noUi-target
          border: none
          box-shadow: none

        .noUi-base
          width: 790px
          margin-left: 118px

        .noUi-handle
          text-align: center
          border: 1px solid #9a9ea2
          background: rgba(#8a8a8a, .6)
          height: 24px
          top: -1px
          width: 235px
          left: -120px
          box-shadow: none
          box-sizing: border-box

          &:before
            color: #9a9ea2
            background: none
            content: "III"
            line-height: 24px
            height: 20px
            left: 0
            top: 0
            position: relative
            font-size: 12px
            width: 100%
            z-index: 5

          &:after
            display: none

          &:hover
            cursor: grab

      #axis-label
        width: 60px
        float: left
        height: 100%
        text-align: center
        font-weight: 700
        font-style: italic
        font: 12px
        background: #323232

  .quarters-and-metadata
    box-sizing: border-box
    padding: 0 10px

    .quarters
      clearfix()
      margin: 0 0 10px 0

    .quarter
      border-radius: 2px
      float: left
      margin: 0 2px 0 0
      padding: 3px 6px

      &:hover
        background: #fff
        cursor: pointer

      &.active
        background: $blue
        color: #fff

    .metadata
      display: inline-block
      width: 49%
      margin: 0
      padding: 0

    .links
      display: inline-block
      width: 49%
      margin: 0
      padding: 0

.focus.page .focus
  padding: 8px 0 0 0

  .add-to-collection
    left: 0
    position: relative
    top: 0

    .collect-this
      @extends #bold-button
      opacity: 1

.recents.page .subjects .list .subject-summaries .subject-summary
  .preview
    box-sizing: border-box
    font-size: 16px
    font-weight: 700
    padding: 4px 0
    text-align: center

.focus-comments .comment .content p
  overflow-wrap: break-word

.known-tags span
  background-color: #3bf
  border-radius: 2px
  color: white
  padding: 2px 5px

// jQuery plugin noSlider
.noUi-target,
.noUi-target *
  box-sizing: border-box
  user-select: none

.noUi-target
  position: relative

.noUi-base
  width: 100%
  height: 100%
  position: relative

.noUi-origin
  position: absolute
  right: 0
  top: 0
  left: 0
  bottom: 0

.noUi-handle
  position: relative
  z-index: 1

.noUi-stacking .noUi-handle
  z-index: 10

.noUi-state-tap .noUi-origin
  transition: left 0.3s, top 0.3s

.noUi-state-drag *
  cursor: inherit !important


.noUi-base
  transform: translate3d(0,0,0)

.noUi-horizontal
  height: 18px

.noUi-horizontal .noUi-handle
  width: 34px
  height: 28px
  left: -17px
  top: -6px

.noUi-background
  background: #FAFAFA
  box-shadow: inset 0 1px 1px #f0f0f0

.noUi-connect
  background: #3FB8AF
  box-shadow: inset 0 0 3px rgba(51,51,51,0.45)
  transition: background 450ms

.noUi-origin
  border-radius: 2px

.noUi-target
  border-radius: 4px
  border: 1px solid #D3D3D3
  box-shadow: inset 0 1px 1px #F0F0F0, 0 3px 6px -5px #BBB

.noUi-target.noUi-connect
  box-shadow: inset 0 0 3px rgba(51,51,51,0.45), 0 3px 6px -5px #BBB

.noUi-dragable
  cursor: w-resize

.noUi-handle
  border: 1px solid #D9D9D9
  border-radius: 3px
  background: white
  cursor: default
  box-shadow: inset 0 0 1px #FFF, inset 0 1px 7px #EBEBEB, 0 3px 6px -3px #BBB

.noUi-active
  box-shadow: inset 0 0 1px #FFF, inset 0 1px 7px #DDD, 0 3px 6px -3px #BBB

.noUi-handlebefore,
.noUi-handleafter
  content: ""
  display: block
  position: absolute
  height: 14px
  width: 1px
  background: #E8E7E6
  left: 14px
  top: 6px

.noUi-handleafter
  left: 17px

.noUi-vertical .noUi-handlebefore,
.noUi-vertical .noUi-handleafter
  width: 14px
  height: 1px
  left: 6px
  top: 14px

.noUi-vertical .noUi-handleafter
  top: 17px

[disabled].noUi-connect,
[disabled] .noUi-connect
  background: #b8b8b8

[disabled] .noUi-handle
  cursor: not-allowed

.k2_label
  color:#1c6fa7
  border:none
