.war-diary-subject-viewer
  position: relative
  
  .large-mouseover
    background-repeat: no-repeat
    border: 1px solid #000000
    box-sizing: border-box
    display: none
    height: 100%
    left: 103%
    min-height: 272px
    position: absolute
    top: 0
    width: 200%
    z-index: 100
