.war-diary-subject-viewer
  position: relative
  
  .large-mouseover
    background-repeat: no-repeat
    border: 1px solid #000000
    box-sizing: border-box
    display: none
    height: 100%
    left: 103%
    min-height: 272px
    position: absolute
    top: 0
    width: 200%
    z-index: 100

  ul
    margin: 10px 0
    padding: 0

    li
      margin: 0 0 6px 0
      padding: 3px 20% 3px 3px

      &:hover
        background: #f7f7f7

    label
      display: block
      font-weight: 700

    .archives-link
      margin: 10px 0

      a
        color: #888

        &:hover
          color: #333

